@import url('@linkseeks/ui/src/styles/theme/variables.less');

.card {
  :global {
    .ant-table-cell {
      padding: 8px 8px;
    }
    .ant-btn {
      // padding: 2px 0px;
    }
    .customizeFileContainer {
      margin-bottom: 0;
      color: @color-primary;
    }
  }
}
