.container {
  padding: 16px 0;

  .wrapper {
    width: 1200px;
    height: 489px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .pityText {
      font-size: 20px;
      color: #1f2c3d;
      margin-bottom: 24px;
    }

    .tips {
      margin-bottom: 24px;
      font-size: 14px;
      color: #91959b;
      line-height: 24px;
      text-align: center;

      .highlight {
        color: #00a98f;
      }
    }
  }
}
