.addition {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #edeeef;
  border-radius: 4px;
  padding: 4px;
  background-color: #edeeef;
  color: #5c626a;
  margin-top: 12px;
  cursor: pointer;

  .text {
    margin-left: 4px;
  }
}
