.visible {
  display: none;
}

.container {
  padding: 12px 0px 0 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .item {
    // flex-basis: 50%;
    width: 50%;
    padding-right: 8px;
    margin-bottom: 12px;

    .couponItem {
      height: 84px;
      color: #ef3346;
      .right {
        // writing-mode: vertical-rl;
        width: 15px;
        font-size: 12px;
        line-height: 12px;
        margin: 0 0 0 4px;
        word-wrap: break-word;
      }
    }
  }
}
