
@import '@/styles/variables.scss';

.at-action-sheet__container {
  border-radius: 25px 25px 0 0 !important;
  background-color: $color-card-bg !important;
  // height: 300px;
}
.content{
  .title{
    padding: 14px 0;
    font-size: 14px;
    border-bottom: 1px solid $color-border-base;
  }
}
.countryCode {
	flex: 1;
	height: 48px;
	display: flex;
	align-items: center;
	padding-left: 12px;
}
.countryCodeText {
	font-size: 15px;
}
.placeholder {
	font-size: 15px;
  color: $color-text-disabled;
}
.countryList{
  padding: 0 10px;
  .countryItem{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid $color-border-base;
    .name{
      color: $color-brand;
			font-size: 14px;
      padding-right: 5px;
    }
    .text{
      color: $color-text-base;
      padding-right: 5px;
      background-color: transparent !important;
    }
    .countryRight{
      display: flex;
      align-items: center;
    }
    .ItemIcon {
      width: 16px;
      height:16px;
      padding-left: 5px;
    }

  }
}
