@import '@/styles/variables.scss';

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.infos {
  display: flex;
  align-items: center;
}
.img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.name {
  color: $theme-text;
  font-size: 14px;
}
.extra {
  font-size: 12px;
  color: $theme-text-secondary;
  margin-left: 4px;
}
.status {
  width: 16px;
  height: 16px;
  border-color: $theme-border-light;
  border-width: 0.5px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $theme-color;
}
.disappear {
  width: 16px;
  height: 16px;
  background-color: $theme-surface;
  border-radius: 8px;
  border: 0.5px solid $theme-border-light;
}
.helper {
  font-size: 12px;
  color: $theme-text-secondary;
  background-color: $theme-disabled-bg;
  padding: 2px 4px;
}
.disable {
  color: $theme-text-secondary;
}
