.step0Description {
  text-align: left;
  width: 280px;
  margin: 0 auto;
  list-style-type: decimal;
  li {
    color: #909399;
    font-size: 12px;
  }
}
.step1Description {
  h4 {
    height: 22px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(23, 43, 77, 1);
    line-height: 22px;
  }
  p {
    height: 20px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(107, 119, 140, 1);
    line-height: 20px;
  }
}
