@padding: 16px; // 卡片常用内边距
@marRight: 16px; // 右外边距
@marBotton: 16px; // 地下外边距

@main: {
  padding: 24px;
  background: #fff;
};

@mainMin: {
  padding: @padding;
  background: #fff;
};

.enterprises-key {
  color: #909399;
}

.enterprises-value {
  color: #303133;
}

.other-color {
  color: #d32f2f;
  font-weight: bold;
  padding: 0 4px;
}

.procurement-btn:hover {
  color: #00b383 !important;
  border-color: #00b383 !important;
}

.select-btn {
  color: #00b383 !important;
  border-color: #00b383 !important;
}

.margin-botton-24 {
  margin-bottom: 24px;
}

.padding-top-24 {
  padding-top: 24px;
}
