@import '../../common.less';
@import url('@linkseeks/ui/src/styles/theme/variables.less');

.common_add_modal {
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  :global {
    .ant-modal-body {
      padding: 16px;
    }
    .ant-form-item-label > label.ant-form-item-required::before {
      order: 10;
      // margin-left: -6px;
    }

    .ant-radio-checked .ant-radio-inner {
      border-color: @color-primary;
    }

    .ant-radio-inner::after {
      background-color: @color-primary;
    }

    .ant-radio-checked::after {
      border-color: @color-primary;
    }

    .ant-radio-group {
      display: flex;
    }

    .ant-input {
      &:hover,
      &:focus {
        box-shadow: 0 0 0 2px var(--mall-main-color_opacity_2);
        border: 1px solid @color-primary;
      }
    }

    .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
      border-color: @color-primary;
      border-right-width: 1px !important;
    }

    .ant-select-focused.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      border-color: @color-primary;
      border-right-width: 1px !important;
      outline: 0;
      box-shadow: 0 0 0 2px var(--mall-main-color_opacity_2);
    }

    .ant-modal-footer {
      .ant-btn {
        &:hover,
        &:focus,
        &:active {
          color: @color-primary;
          border-color: @color-primary;
        }
      }

      .ant-btn-primary {
        background-color: @color-primary;
        border-color: @color-primary;

        &:hover,
        &:focus,
        &:active {
          color: #ffffff;
          opacity: 0.9;
        }
      }
    }
  }
}
