.divider {
  margin-bottom: 12px;
  font-size: 12px;
  .vertical {
    width: 2px;
    height: 16px;
    margin: 0px 5px 0px 0px;
    background-color: #00a98f;
  }
}
.card-list {
  margin: 2px;
  font-size: 12px;
  p {
    margin-bottom: 0px;
  }
  .card-list_file {
    display: flex;
    align-items: center;
    .card-list_fileicon {
      margin-right: 5px;
      color: #3f7ed2;
      font-size: 12px;
    }
  }
}
.card-list_title {
  color: #909399;
  font-size: 12px;
}
