.drawer_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  
  .drawer_tb_wrap {
    position: relative;
    // height: calc(100vh - 210px);
    flex-grow: 1;
    overflow-y: auto;
  }

  .drawer_tb_pagination {
    position: relative;
    text-align: right;
    margin-top: 24px;
  }
}