.interested_commodity {
  padding-bottom: 25px;

  &_title {
    height: 52px;
    display: flex;
    align-items: center;

    & > span {
      flex: 1;
      font-size: 12px;
      color: #606266;
    }
  }

  &_pagination {
    display: flex;

    &_btn {
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      border: 1px solid #c0c4cc;
      color: #909399;
      cursor: pointer;
      margin-left: 10px;

      &.disabled {
        border: 1px solid rgb(238 238 238 / 100%);
        color: #c0c4cc;
      }
    }
  }

  &_list {
    display: flex;
    margin: 0 -7.5px;

    &_item {
      margin: 0 7.5px;

      &_imgbox {
        position: relative;

        &_img {
          width: 100px;
          height: 100px;
          background-repeat: no-repeat;
          background-size: 100% auto;
          background-position: center center;
        }
      }

      &_name {
        font-size: 12px;
        color: #303133;
        text-align: left;
        margin-top: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        word-break: break-all;
      }

      &_price {
        font-size: 14px;
        color: #d32f2f;

        & > i {
          font-style: normal;
          font-size: 12px;
          margin-right: 3px;
        }
      }
    }
  }
}
