.page {
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  min-height: 100vh;

  .back {
    width: 18px;
    height: 18px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .header {
    background-color: #f7f8fa;
  }

  .success-header {
    background-color: rgba(0, 169, 143, 1);
  }

  .error-header {
    background-color: #61666e;
  }

  .header-title {
    font-weight: 600;
    color: #000000;
    font-size: 16px;
  }

  .page-background {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
    padding-bottom: 56px;
    padding-top: 20px;
  }

  .page-background-success {
    background: rgba(0, 169, 143, 1);
  }

  .page-background-error {
    background-color: #61666e;
  }

  .product {
    margin-top: -56px;
    margin: -56px 12px 0 12px;
  }

  .team {
    margin: 8px 12px 20px 12px;
  }
}
