@import '@/styles/variables.scss';

.memberPower {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .tabs-header {
    display: flex;
    text-align: center;
    .tabs-title {
      flex: 1;
      padding: 10px 0;
      background-color: #fff;
      position: relative;
    }
    .tabs-title-sel {
      background-color: #fff;
    }
    .tabs-title-bottom{
      width: 88%;
      height: 1px;
      position: absolute;
      left: 6%;
      bottom: 0;
      background-color: $theme-color;
    }
  }
  .tabs-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
