@import '@/styles/variables.scss';

.TradingDetail{
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	background-color: $theme-page-bg;
	padding: 8px;
	//padding: 10px;
  &-head{
    background:$theme-surface;
    padding: 10px 20px;
    border-radius: 5px;
    &-status{
      display: flex;
      align-items: center;
      Image ,taro-image-core {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
      &-statusName{
        font-size: 14px;
      }
    }
    &-Amount{
      font-family: PingFangSC-Medium;
      font-size: 24px;
      color: #303133;
			font-weight: 500;
      padding: 10px 0;
    }
  }
  &-List{
		//margin-top: 15px;
		margin-top: 8px;
    background:$theme-surface;
    padding: 0px 20px;
    border-radius: 5px;
    &-item{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $theme-border-light;
      padding: 10px 0;
			&-text1 {
				color: #91959b;
				font-size: 14px;
				font-weight: 400;
			}
			&-text2 {
				color: #252d37;
				font-size: 14px;
				font-weight: 400;
			}
    }
  }
}
