.colBox{
  background-color: #FAFBFC;
  position: relative;
  ul{
    margin-bottom: 42px;
    margin-top: 12px;
    list-style: none;
    padding: 0;
    li{
      padding-left: 24px;
      // height: 32px;
      // line-height: 32px;
      color: #303133;
      display: flex;
      justify-content: space-between;
      span{
        padding-top: 12px;
        padding-bottom: 12px;
      }
      a{
        color: #C0C4CC;
        float: right;
        padding-right: 24px;
      }
    }
    .actived-li{
      box-sizing: border-box;
      border-left: 2px solid #00A98F;
    }
  }
  .addBtn{
    margin-top: 30px;
    background-color: #F4F5F7;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
