.activity_tag_list {
  display: flex;
  height: 18px;

  &_item {
    display: inline-block;
    color: #ef3346;
    font-size: 12px;
    padding: 2px 4px;
    line-height: 12px;
    border: 0.5px solid #ef3346;
    border-radius: 2px;
    margin-right: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
