@import '@/styles/variables.scss';

.area-indexes {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $theme-surface;

  &-shortcut {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: $spacing-h-lg;
    padding-left: $spacing-h-lg;

    &-item {
      padding-right: $spacing-h-xl;
      padding-top: $spacing-v-xl;
      padding-bottom: $spacing-v-lg * 2;

      &-name {
        font-size: $font-size-base;
        font-weight: 400;
        color: $theme-title;

        &__active {
          color: $theme-primary;
        }
      }
    }
  }

  &-scroll {
    background-color: $theme-surface;
  }

  &-group {
    padding-bottom: 0;
    padding-top: 0;
  }

  &-swiperWrap {
   
  }

  &-swiper {
    flex: 1;
    position: relative;

    &-queen {
      height: 100%;
    }

    &-item {
      height: 100%;

      &-placehodler {
        padding-left: $spacing-h-lg;
        font-size: $font-size-sm;
        color: $theme-text-secondary;
      }

      &-group {
        padding-right: $spacing-h-xl + 4;
        padding-left: $spacing-h-md;
        
        &-item {
          padding-left: $spacing-h-sm;
          padding-top: $spacing-v-md + 1;
          padding-bottom: $spacing-v-md + 1;
        }
      }

      &-titleWrap {
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
      }

      &-key {
        display: inline-block;
        width: 30px;
        color: $theme-text-secondary;
        font-size: $font-size-base;
        font-weight: 500;
      }

      &-title {
        color: $theme-title;
        font-size: $font-size-base;
        font-weight: 400;
      }

      &-icon {
        padding-left: $spacing-h-md;
        padding-right: $spacing-h-md;
      }

      .at-indexes {
        &__list {
          &-title {
            display: none;
          }
        }

        &__menu {
          top: 40%;
        }
      }
    }
  }
}
