.commonSearchBtn {
  border-left: none;
  border-radius: 0 2px 2px 0;
  background-color: #eef0f3ff;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
    background: #eef0f3ff;
    border-color: #d9d9d9;
  }
}
