.introduction {
  margin-bottom: 16px;
  background-color: #fff;
  padding: 16px;

  .introduction_list {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    padding-bottom: 10px;
    margin-left: -27.5px;
    margin-right: -27.5px;

    &_item {
      width: 273px;
      display: flex;
      font-size: 12px;
      margin-bottom: 10px;
      margin-left: 27.5px;
      margin-right: 27.5px;

      & > .label {
        width: 88px;
        color: #909399;
        overflow: hidden;
      }

      & > .breif {
        flex: 1;
        width: 0;
        color: #303133;
      }
    }
  }
}

.product-descriptions {
  &-titleWrap {
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &-title {
    padding: 0 12px;
    font-size: 12px;
    color: #5c626a;

    &-line {
      width: 24px;
      height: 1px;
      background-color: #d8dde6;
    }
  }
}
