@import "@/styles/variables.scss";
@import "@/styles/utils/modal.scss";
.address-container {
  display: flex;
  margin: 0;
  height: 100vh;
  flex: 1;
  flex-direction: column;
  background-color: $theme-page-bg;
  :global {
    .at-tabs__item {
      width: 50%;
      .at-tabs__item-underline{
        width: 88%;
        height: 2px;
        left: 6%;
      }
    }
    .at-tabs__item--active{
      position: relative;
    }
    .at-tabs__body,
    .at-tabs-pane {
      background-color: $theme-page-bg;
    }
  }

}

.page {
  background-color: $theme-page-bg;
  padding: 10px;
  width: 100%;
}

.main {
  height: calc(100vh - 130px);
  flex-direction: column;
  flex: 1;
}

.address-list {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 8px;
}

.address-list-item {
  display: flex;
  width: 100%;
  background-color: $theme-surface;
  padding: 14px 12px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.address-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 130px);
  background-color: $theme-page-bg;
}

.left {
  flex: 1;
  flex-direction: column;
}

.right {
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
  flex: 0.1;
  justify-content: flex-start;
}

.box {
  align-items: center;
  margin-bottom: 12px;
}

.icon {
  width: 16px;
  height: 16px;
}

.address-list-item-text {
  display: block;
  font-size: 12px;
  width: 250px;
  text-align: left;
  margin-bottom: 8px;
  word-break: break-all;
}

.address-list-item-phone {
	display: block;
	font-size: 12px;
	text-align: left;
	color: #91959B;
	line-height: 12px;
}

.box-name {
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}

.color {
  color: #fff;
  text-align: left;
}

.flag {
  background-color: $theme-primary-soft;
  font-size: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  color: $theme-color;
  padding-left: 4px;
  padding-right: 4px;
}

.address-footer {
  height: 90px;
  padding-top: 8px;
  background-color: $theme-surface;
}

.address-add {
  background-color: $theme-color;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px;
  border-radius: 3px;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.addicon {
  display: inline-block;
  padding: 3px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.addicon-img {
  width: 14px;
  height: 14px;
}

.delbtn {
  width: 103px;
  height: 100%;
  padding: 0 30px;
  text-align: center;
  background-color: #d32f2f;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.addtext {
  color: #fff;
}

.indicator-style {
  background-color: $theme-color;
}

.label-style {
  font-size: 14px;
  color: #000;
}

.tab-bar-style {
  elevation: 0px;
}

.delete-model {
	@include new-index-at-model;

	&-content {
		padding: 48px 12px 12px 12px;
		width: 296px;
		height: 184px;
		border-radius: 16px;
		background: $theme-surface;
		box-sizing: border-box;

		&-text {
			color: #303133;
			text-align: center;
			font-size: 16px;
			line-height: 24px;
		}

		&-buttons {
			margin-top: 60px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}

		&-button {
			width: 130px;
			line-height: 40px;
			border-radius: 8px;
			text-align: center;
			color: #FFF;
			background: $theme-primary;

			&.cancel {
				color: #252D37;
			background: $theme-page-bg;
			}
		}
	}
}
