.card-list {
  font-size: 12px;
  p {
    margin-bottom: 8px;
  }
}
.card-list_title {
  font-size: 12px;
  color: #909399;
}

.bidConfirmWrapper {
  :global {
    .ant-row {
      .ant-col {
        .ant-row {
          .ant-col-4 {
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 2px;
            // margin-top: 2px;
          }
        }
      }
    }
  }
  background: #f4f5f7;
  overflow-y: scroll;
  .bidTableHead {
    height: 32px;
    line-height: 32px;
    background: #f4f5f7;
    border: 4px solid #f4f5f7;
    color: #303133;
    padding-left: 16px;
    img {
      width: 24px;
      height: 24px;
    }
    .levelCircle {
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      background: #ebecf0;
      border-radius: 50%;
      color: #909399;
      margin-right: 8px;
      text-align: center;
    }
  }
  .materialInfo {
    overflow: hidden;
  }
  .materialInfo,
  .amountInfo,
  .throwBidInfo {
    height: 162px;
    padding: 16px;
    position: relative;
  }
  .totalContainer {
    height: 162px;
    padding: 16px;
  }
  .totalWrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-top: 8px;
  }
  .materialInfo,
  .amountInfo,
  .throwBidInfo {
    background-color: #fff;
  }
  .rankNumber {
    width: 32px;
    height: 32px;
    font-size: 12px;
    font-weight: 500;
    color: #606266;
    line-height: 44px;
    border-radius: 50%;
    background-color: #f4f5f7;
    position: absolute;
    top: -16px;
    left: -16px;
    text-align: right;
    padding-right: 6px;
  }
}
