@import '~antd/es/style/themes/default.less';

.desc-progress {
  &-statistic {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-item {
      &-title {
        margin-bottom: @margin-xss;
        line-height: @font-size-sm;
        font-size: @font-size-sm;
        font-weight: 400;
        color: @text-color-secondary;
      }

      &-content {
        line-height: @font-size-sm;
        font-size: @font-size-sm;
        font-weight: 500;
        color: @text-color;
      }
    }
  }
}
