@import '@/styles/variables.scss';

.pageLayout {
  background-color: $color-bg-base;
}

.activity-navbar {
  background-color: $color-bg-base;
  border-bottom: 1px solid $color-card-border;
}

.activity-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .activity-scrollView {
    flex: 1;

    .scrollView {
      height: 100%;
      // padding: $spacing-h-lg;
    }
  }
}
