@import url('@linkseeks/ui/src/styles/theme/variables.less');
.account-info-container {
  display: flex;
  justify-content: space-between;
}

.account-info-controler {
  flex: 1;
  padding: 16px;
  background-color: @bg-content-color;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  border-radius: 8px;
}

.account-info-list {
  flex: 1;
  padding-left: 16px;
}
.money {
  font-size: 32px;
  font-weight: 400;
}

.detail-block {
  width: 350px;
  background-color: rgb(5, 124, 239);
  color: #fff;
  border-radius: 8px;
  font-size: 14px;
  padding: 8px 12px;
  cursor: pointer;
}

.detail-title {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  justify-content: space-between;
}

.detail-tip {
  line-height: 24px;
}

.detail-icon {
  font-size: 16px;
  cursor: pointer;
}

.charge-icon {
  width: 32px;
  height: 32px;
}

.qrCodeImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 256px;
    height: 256px;
    margin-bottom: 24px;
  }
}
