.passwordInputTip {
  color: #909399;
  padding: 8px 6px;

  .tipItem {
    margin-bottom: 4px;

    span {
      font-size: 14px;
    }

    .tiptext {
      padding-left: 8px;
      font-size: 12px;
    }
  }
}
