@import url('@linkseeks/ui/src/styles/theme/variables.less');
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 24px 0;

  img {
    width: 300px;
    height: 225px;
  }

  h4 {
    text-align: center;
    margin: 16px 0;
  }

  h6 {
    margin-bottom: 16px;
  }
}

.off-tip-inset {
  background-color: #fff;
  padding: 16px 12px;
  border-radius: 4px;
}
.inset {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.off-tip-container {
  padding: 16px;
  background-color: @color-neutral-200;
  min-width: 552px;

  p {
    font-size: 12px;
    color: @color-text-2;
    margin-bottom: 16px;
    line-height: 16px;
  }
}

.check-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
  color: @color-text-4;
  .desc {
    margin-left: 8px;
  }
}

.btn {
  margin-top: 16px;
}
