// fresh下的全局变量在此定义
// 企业商城科技模板
:global {
  .theme-mall-fresh {
    font-size: 14px;

    --mall-main-color: #d32f2f;
    --mall-main-color_opacity_2: rgb(211 47 47 / 10%);
    --mall-sub-color: rgb(211 47 47 / 10%);
    --category-content-bg: #fff;
    --category-content-title-text: #303133;
    --category_content-sub-title-text: #606266;
  }

  // 渠道科技类模板
  .theme-channel-fresh {
    font-size: 14px;

    --mall-main-color: #464552;
    --mall-sub-color: #fff;
    --category-content-bg: #464552;
    --category-content-title-text: #fff;
    --category_content-sub-title-text: rgb(255 255 255 / 45%);
  }

  // 店铺科技类模板颜色配置
  .theme-shop-fresh {
    font-size: 14px;

    --mall-main-color: #d32f2f;
    --mall-sub-color: rgb(211 47 47 / 10%);
    --category-content-bg: #fff;
    --category-content-title-text: #303133;
    --category_content-sub-title-text: #606266;
  }
}
