@padding: 16px; // 卡片常用内边距
@marRight: 16px; // 右外边距
@marBotton: 16px; // 地下外边距
@commonColor: #00a98f; // 公用的色调

@main: {
  padding: 24px;
  background: #fff;
};

@mainMin: {
  padding: @padding;
  background: #fff;
};

.enterprises-key {
  color: #909399;
}

.enterprises-value {
  color: #303133;
}

.other-color {
  color: #d32f2f;
  font-weight: bold;
  padding: 0 4px;
}

.procurement-btn:hover {
  color: #00b383 !important;
  border-color: #00b383 !important;
}

.select-btn {
  color: #00b383 !important;
  border-color: #00b383 !important;
}

.margin-botton-24 {
  margin-bottom: 24px;
}

.padding-top-24 {
  padding-top: 24px;
}

.settle-main {
  background-image: url('./welcome.png');
  background-size: 100% 100%;
  // height: 40vw;
  color: #fff;
  min-width: 1200px;

  .settle-warp {
    display: flex;
    margin: 0 auto;
    width: 1200px;
  }

  .settle-title {
    padding-top: 84px;
    font-size: 32px;
    padding-bottom: 76px;
    position: relative;
  }

  .settle-title::after {
    content: '';
    width: 56px;
    height: 4px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 46px;
  }

  .settle-content {
    width: 488px;
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 72px;
  }

  .apply-btn {
    font-size: 24px;
    background-color: #00a98f;
    height: 56px;
    color: #fff;
    width: 160px;
    border-color: #00a98f;
  }

  .settle-right {
    margin-left: 122px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    width: 588px;
    // height: 460px;
    justify-content: space-between;

    .settle-item {
      width: 288px;
      height: 274px;
      padding: 25px;
      font-size: 14px;
      border-radius: 5px;
      cursor: pointer;
      color: #bcbec8;

      img {
        width: 64px;
        height: 64px;
        margin-bottom: 20px;
      }

      .settle-item-title {
        font-size: 24px;
        margin-bottom: 8px;
      }

      .settle-item-tips {
        font-size: 14px;
        margin-bottom: 8px;
      }
    }

    .settle-item:hover {
      background: @commonColor;
    }
  }
}
