@import '@/styles/utils/text-overflow.scss';
@import '@/styles/variables.scss';
.statusLayout {
  flex: 1;
  height: 100vh;
  overflow: hidden;
  background-color: $theme-page-bg;
  &-tabBar {
    background-color: $theme-surface;
  }
  &-scrollView {
    // flex: 1;
    display: flex;
    flex-direction: column;
    margin: 8px;
  }
  &-customStyle {
    margin-bottom: 8px;
  }
  &-cell {
    display: flex;
    min-width: 110px;
    flex-direction: column;
  }
  &-dotLineBox {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &-dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
  &-line {
    flex-grow: 1;
    margin: 0px 4px;
    height: 1px;
  }
  &-cellTextBox {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
  }
  &-cellText {
    font-size: 12px;
    color: #606266;
    @include text-overflow();
  }
  &-timeLineBox {
    // flex: 1;
    display: flex;
    position: relative;
    padding-bottom: 8px;
  }
  &-timeLineDot {
    // position: absolute;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    margin-top: 3px;
  }
  &-timeLineIcon {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: $theme-disabled-bg;
    position: relative;
    z-index: 999;
  }
  &-timeLine {
    width: 1px;
    flex-grow: 1;
    margin-top: -7px;
    margin-bottom: -11px;
    background-color: $theme-disabled-bg;
  }
  &-timeLineInfoBox {
    flex: 1;
    flex-direction: column;
    padding-left: 12px;
  }
  &-timeLineBeforeInfoBox {
    flex: 1;
    flex-direction: column;
    padding-left: 12px;
  }
  &-timeLineTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-timeLineTitleAfterStyle {
    font-size: 12px;
    font-weight: 700;
  }
  &-timeLineTitlebeforeStyle {
    font-size: 12px;
    // font-weight: 700;
    color: $theme-text-secondary;
  }
  &-timeLineTimeStyle {
    font-size: 12PX;
    color: $theme-text-secondary;
  }
  &-timeLineInfo {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &-timeLineInfoAfterStyle {
    font-size: 12px;
  }
  &-timeLineInfobeforeStyle {
    font-size: 12px;
    color: $theme-text-secondary;
  }
  &-auditOpinion {
    flex: 1;
    border-radius: 4px;
    padding: 6px 8px;
    background-color: $theme-disabled-bg;
  }
  :global{
    .at-tabs__body {
      flex: 1;
      overflow: hidden;
      background-color: $theme-page-bg;
    }
  }
}
