# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log

# production
/dist
# misc
.DS_Store

# umi
/src/.umi
/src/.umi-production
/src/.umi-test
/.env.local
/.idea/

system.json


/.idea
config/base.config.json
config/component.config.json
config/router.config.ts
config/router.config.js
config/router.config.json

/src/services/index.ts
src/global/config/global.d.ts
src/services/*Api.ts
src/services/*Api
.vscode

scripts/god-scripts
