@import url('@linkseeks/ui/src/styles/theme/variables.less');

.container {
  display: flex;
  flex-direction: row;

  .sectionItem {
    flex: 1;
  }

  .labelSection {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    padding-left: @padding-md;
  }
}
