.passwordContainer {
  position: relative;
  margin-bottom: 0px;
  .errors {
    position: relative;
    margin-left: 16px;

    .length,
    .trim,
    .compact {
      margin-bottom: 10px;
      color: #6b778c;
      line-height: 20px;
      height: 20px;
      font-family: PingFangSC-Regular, PingFang SC;
    }

    .success {
      color: #00a98f;
      margin-right: 15px;
    }

    .icon {
      color: rgb(230, 63, 59);
      margin-right: 15px;
    }
  }
}

// .captchaBtn {
//   width: 102px;
// }
