@import '../../../common.less';
@import url('@linkseeks/ui/src/styles/theme/variables.less');

.product_description {
  position: relative;

  &_anchor {
    background-color: #fff;
    height: 40px;
    padding: 0;
    margin: 0;
    overflow: hidden;

    .buy_now_btn {
      position: relative;
      background-color: @color-primary;
      color: #ffffff;
      margin-left: auto;
      margin-right: 20px;
      height: 32px;
      width: 120px;
      text-align: center;
      line-height: 32px;
      right: 0;
      bottom: 0;

      &.hide {
        display: none;
      }
    }

    :global {
      .ant-anchor {
        display: flex;
        align-items: center;
        padding: 0;

        .ant-anchor-ink {
          display: none;
        }

        .ant-anchor-link {
          padding: 0;
          // height: 40px;
          // line-height: 40px;
          padding: 0 24px;

          &.active {
            background-color: #ffffff;
            border-top: 2px solid @color-primary;

            a {
              color: @color-primary;
            }
          }

          &.ant-anchor-link-active {
            background-color: #ffffff;
            border-top: 2px solid @color-primary;

            a {
              color: @color-primary;
            }
          }

          &:hover {
            background-color: #ffffff;
            border-top: 2px solid @color-primary;

            a {
              color: @color-primary;
            }
          }
        }
      }
    }
  }
}
