.price {
  display: flex;
  flex-direction: row;
  align-items: center;

  .originalPrice {
    font-size: 16px;
    line-height: 18px;
    color: #ef3346;

    .currency {
      font-size: 12px;
    }
  }

  .discountPrice {
    color: #91959b;
    font-size: 12px;
    margin-left: 8px;
    text-decoration: line-through;
  }
}
