.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #91959B;
  margin-bottom: 8px;

  .header-item {
    width: 128px;
    margin-right: 18px;
  }

}
.required {
  color: #F25767;
}
