.field-header_container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 18px;
}

.field-header_title {
  display: flex;
  align-items: center;
  font-weight: 700;
  &::before {
    content: "";
    width: 2px;
    height: 14px;
    background: #00A98F;
    margin-right: 6px;
  }
}
