.introduction {
  margin-bottom: 16px;
  background-color: #fff;
  padding: 16px;

  .introduction_list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f4f5f7;

    &_item {
      width: 33.33%;
      display: flex;
      font-size: 12px;
      margin-bottom: 10px;

      & > .label {
        width: 108px;
        color: #909399;
        overflow: hidden;
      }

      & > .breif {
        color: #303133;
      }
    }
  }
}
