.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: -12px;

  .simpleItem {
    padding-right: 12px;
  }
}

.simple {
}

.empty {
  border: 1px dashed #c9c9c9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 143px;
}
