@import '../../constants/styles/_var.less';

.god-tabtree-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  background: #fff;
  font-size: 16px;
  font-weight: 700;
  color: @main-font-bold-color;
}

.ant-tree .ant-tree-treenode {
  padding-bottom: 0;
  padding-right: 16px;
  background: @tree-node;
  border: 1px solid @tree-node-border;
  margin-bottom: 4px;
  align-items: center;
  height: 32px;

  &.ant-tree-treenode-selected {
    border-color: @main-color;
    background: @tree-node_hover;
  }

  &.ant-tree-treenode:hover {
    border-color: @main-color;
    background: @tree-node_hover;
  }

  &.ant-tree-treenode-selected {
    .tree-node-circle {
      background: @main-color;
    }
  }
}

.ant-tree .ant-tree-checkbox {
  margin: 0;
}

.ant-tree .ant-tree-node-content-wrapper:hover {
  background: none;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background: none;
}

.ant-tree .ant-tree-switcher {
  width: 28px;
  height: 28px;
  line-height: 32px;
}

.ant-tree .ant-tree-switcher .ant-tree-switcher-icon,
.ant-tree .ant-tree-switcher .ant-select-tree-switcher-icon {
  font-size: 12px;
}

#root .ant-tree.god-tabtree {
  .ant-tree-treenode {
    cursor: pointer;
    &:hover {
      .god-tabtree-icons {
        opacity: 1;
      }
    }
  }
  .god-tabtree-icons {
    opacity: 0;
    transition: 0.3s;
    &.show {
      opacity: 1;
    }
  }
  .god-tabtree-select {
    background: none;
    border-color: @tree-node-border;
    &.show {
      border-color: @main-color;
      background: @tree-node_hover;
      .tree-node-circle {
        background: @main-color;
      }
    }
    &.hide {
      .tree-node-circle {
        background: @status-stop;
      }
    }
    .ant-tree-switcher-noop::after {
      content: '·';
      display: block;
      color: transparent;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #c1c7d0;
      margin: auto;
      margin-top: 12px;
    }
  }
}

.site-tree-search-value {
  color: #f50;
}
