{
	"tabWidth": 2,
	"useTabs": false,
	"endOfLine": "lf",
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "proseWrap": "never",
	"semi": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
