@import '@/styles/variables.scss';

.campaign-poster {
  padding: $spacing-v-lg;
  background-image: linear-gradient(135deg, #E7273B 0%, #F89162 100%);

  &-title {
    font-size: $font-size-sm !important;
    color: #FFFFFF !important;
  }

  &-date {
    font-size: $font-size-xs;
    color: #FFFFFF;
  }
}