@import url('@linkseeks/ui/src/styles/theme/variables.less');

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @bg-content-color;
  min-height: calc(100vh - 64px - 50px);
}
