.module_card {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 16px;

  &.autoWidth {
    flex: 1;
    width: 0;
    margin-top: 0;
  }

  .module_card_title {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    border-bottom: 1px solid #f7f8fa;

    &_icon {
      height: 30px;
      width: 30px;
      display: block;
      margin-right: 13px;

      img {
        width: 30px;
        height: 30px;
      }
    }

    &_label {
      font-size: 20px;
      line-height: 20px;
      font-weight: 500;
    }

    .module_card_more {
      margin-left: auto;
      font-size: 12px;
      color: #909399;

      a {
        color: #909399;
      }
    }

    .advert_box {
      margin-left: auto;
      cursor: pointer;

      img {
        width: 400px;
        height: 48px;
      }
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;

  &_item {
    width: 314px;
    height: 128px;
    padding: 24px;
    border: 0.5px solid #f7f8fa;

    .line {
      display: flex;
      align-items: center;

      .imgbox {
        margin-right: 12px;

        & > img {
          width: 24px;
          height: 24px;
        }
      }

      &.martop16 {
        margin-top: 16px;
      }

      &_item {
        display: flex;
        align-items: center;
        margin-right: 16px;
        color: #909399;

        .icon {
          width: 13px;
          height: 13px;
          margin-right: 6px;
        }
      }

      .name {
        color: #303133;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .tag {
      background-color: #f0f7ff;
      color: #3877ff;
      font-size: 12px;
      height: 24px;
      line-height: 24px;
      padding: 0 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 8px;
    }

    .text_line {
      font-size: 12px;
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      label {
        color: #606266;
      }

      span {
        color: #909399;
      }
    }
  }
}

.form_box {
  width: 256px;
  height: 320px;

  .tab {
    display: flex;

    .tab_item {
      flex: 1;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 16px;
      cursor: pointer;

      &.active {
        background: rgb(0 0 0 / 8%);
      }
    }
  }

  .form_body {
    padding: 24px;

    .form_item {
      height: 32px;
      background-color: #fff;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      padding-left: 12px;

      .inputbox {
        flex: 1;
        border: none;
        box-shadow: none;
        padding-left: 0;

        &::placeholder {
          color: #909399;
        }
      }

      label {
        color: #c0c4cc;
        font-size: 12px;
      }

      span {
        color: #909399;
      }
    }

    .form_btn {
      height: 32px;
      background-color: #4279df;
      color: #fff;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &.process_btn {
        background-color: #00a98f;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
