.org-tag-container {
  margin-bottom: 8px;
  .ant-tag-has-color,
  .ant-tag-has-color a,
  .ant-tag-has-color a:hover,
  .ant-tag-has-color .anticon-close,
  .ant-tag-has-color .anticon-close:hover {
    color: #606266;
  }
}

.org-tag {
  color: #606266;
}
