@import url('@linkseeks/ui/src/styles/theme/variables.less');

.cp-check-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
  color: @color-text-4;

  .cp-desc {
    margin-left: 8px;
  }
}
