@import url('../common.less');

.process {
  width: 1200px;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
}

.process_null {
  width: 314px;
  height: 128px;
  background-image: url('./imgs/item_null.png');
  background-size: 100% 100%;
}

.process_advert_null {
  width: 400px;
  height: 48px;
  line-height: 48px;
  background: #f2f2f2;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  color: #d9d9d9;
  text-align: center;
}
