.balanceInfoName {
  font-size: 14px;
  line-height: 16px;
}

.wrapContainer {
  background-color: #fafbfc;
  padding: 12px;
  margin-top: 8px;
  font-size: 14px;

  .item {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0px;
    }

    &-title {
      color: #909399;
    }

    &-value {
      color: #252d37;
      margin-left: 8px;
    }
  }
}
