.color {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;

  .color-item {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 8px;
  }

  .color-item-active {
    // padding: 4px;
    // border: 1px solid red;
    // border-radius: 50%;
  }

  .color-picker-container {
    position: relative;
    .select-color {
      padding: 2px 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      background-color: #edeeef;
      .active-color {
        width: 16px;
        height: 16px;
        border-radius: 8px;
      }
      .active-color-text {
        padding: 0 8px;
      }
    }
    .picker {
      position: absolute;
      right: 0;
      top: 0;
      display: none;
      padding-top: 32px;
      z-index: 99;
    }

    &:hover {
      .picker {
        display: block;
      }
    }
  }
}
