.divider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 12px;
  .vertical {
    width: 2px;
    height: 16px;
    margin: 0px 5px 0px 0px;
    background-color: #00a98f;
  }
}
.colStyle {
  position: relative;
  width: 100%;
  padding: 8px;
  background-color: #fafbfc;
  .card-list {
    font-size: 12px;
    .card-bold {
      margin-bottom: 0;
      font-weight: 700;
    }
    p {
      margin: 1px 0px;
    }
  }
  .card-list:nth-child(2) {
    margin-bottom: 17px;
  }
  .card-list_title {
    color: #909399;
    font-size: 12px;
  }
  .card-badge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 6px;
    color: #909399;
    font-size: 12px;
    background-color: #ebecf0;
  }
  .card-link {
    position: absolute;
    top: 32px;
    right: 8px;
    font-size: 12px;
  }
}
