.commodityGroupEmpty {
  min-height: 430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 1px dashed #c8cacd;
}

.section {
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 8px;
}

.tab {
  // margin-bottom: 12px;
  background-color: #fff;
  .groupPane {
    display: flex;
    flex-direction: row;
    margin-right: -12px;
  }
  .couponItem {
    background-color: #fff0f2;
    padding: 16px 8px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ef3346;
    border-radius: 8px;

    .money {
      .num {
        font-size: 20px;
      }
    }
    .condition {
      margin: 8px 0 16px 0;
    }

    .couponType {
      background-image: linear-gradient(90deg, #f87362 0%, #ef3346 100%);
      border-radius: 8px;
      padding: 2px 6px;
      color: #fff;
    }
  }
}
