.com-switch-btn-group {
  display: flex;
  .switch-btn {
    width: 112px;
    line-height: 32px;
    text-align: center;
    background: #fafbfc;
    border: 1px solid #eef0f3;
    color: #606266;
    cursor: pointer;
    &.active {
      background: #909399;
      color: #fff;
      border: none;
    }
  }
}
