.topbar {
  position: relative;
  height: 30px;
  width: 100%;
  background-color: #fafbfc;
  border-bottom: 1px solid #f4f5f7;

  .topbar_container {
    position: relative;
    width: 1200px;
    margin: 0 auto;

    .topbar_menu {
      padding: 0;
      margin: 0;
      height: 30px;
      line-height: 30px;
      font-size: 12px;

      &.right {
        position: absolute;
        right: 0;
        top: 0;
      }

      .topbar_menu_item {
        position: relative;
        display: inline-block;
        list-style: none;
        padding: 0 16px;
        color: #303133;

        & > span {
          cursor: pointer;
        }

        &.nopad {
          padding: 0;
        }

        &.pad_left_0 {
          padding-left: 0;
        }

        & > a {
          color: #303133;
        }

        .icon {
          margin-right: 6px;
        }

        &:not(:last-child) {
          &::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 12px;
            background-color: #e5e5e5;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
          }
        }
      }
    }
  }
}
