@import '@/styles/variables.scss';

.container-history {
  display: flex;
  flex-direction: column;
  // padding: 8px * $hd 16px * $hd 0px;
  background-color: $theme-surface;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 8px;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 0px;
}
.title {
  color: #303133;
  font-size: 14px;
  flex: 1;
  font-weight: bold;
}
.clearHistoryBtn {
  color: #909399;
  font-size: 12px;
}
.historyList {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -6px;
  overflow: hidden;
  min-height: 24px;
  max-height: 148px;
}
.historyItem {
  display: flex;
  height: 24px;
  padding: 0px 12px;
  background-color: $theme-page-bg;
  align-items: center;
  justify-content: center;
  margin: 6px;
}
.historyItemText {
  // height: 100%;
  // display: flex;
  // align-items: center;
  font-size: 12px;
  color: #606266;
}
