.require_item_wrap {
  .require_item_label {
    color: #909399;
    font-size: 14px;
  }

  .require_item_mark {
    margin-left: 4px;
    font-style: normal;
    color: #ff4d4f;
    font-size: 12px;
    line-height: 1;
  }
}
