.cp-reditable-toolbar {
  padding: 8px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 16px;
}

.cp-reditable-icon-btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.cp-reditable-container {
  blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
  }

  ol {
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 20px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 20px;

    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }
  }
}
