@import '@/styles/variables.scss';
@import '@/styles/utils/text-overflow.scss';

.businessCard {
  display: flex;
  flex-direction: row;
  background-color: $theme-surface;
  align-items: center;

  &-left {
    margin-right: $spacing-h-lg;
  }

  &-right {
    margin-left: $spacing-h-lg;
  }

  &-avatar {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    &-img {
      width: 100%;
      height: 100%;

      Image ,taro-image-core {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  &-status {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: rgba(0, 0, 0, 0.6);

    &-txt {
      color: #FFFFFF;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &-name {
    margin-bottom: $spacing-h-lg;
    font-size: 14px;
    font-weight: 500;
    color: $color-grey-0;
    @include text-overflow();
  }

  &-describe {
    display: flex;
    align-items: center;
  }

  &-reputation {
    height: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: $spacing-h-md;
    margin-left: 6px;
    position: relative;
    padding-right: calc($spacing-h-md / 2);
    padding-left: 10px;
    background-color: $theme-primary-soft;
    border-radius: 1px;

    &-imgWrap {
      position: absolute;
      top: -2px;
      left: -7px;
      width: 15px;
      height: 14px;
    }

    &-img {
      width: 100%;
      height: 100%;

      Image ,taro-image-core {
        width: 100% !important;
        height: 100% !important;
      }
    }

    &-value {
      color: $theme-title;
      font-size: 10px;
      font-weight: 400;
    }

    &-year {
      height: 13px;
      display: flex;
      align-items: center;
      padding: 0 2px;
      border-radius: 1px;
      padding-left: 0.5px;
      border-color: $theme-primary;
    }

    &-txt {
      color: $theme-primary;
      font-size: 10px;
      font-weight: 400;
    }
  }

  &-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
