@import "@/styles/variables.scss";

.warp {
  display: flex;
  background-color: #f5f6f7;
  flex-direction: column;
}
.title {
  display: flex;
  flex-direction: column;
}
.text {
  color: #303133;
  text-align: center;
  line-height: 48px;
  font-size: 16px;
}
.tips {
  color: #252d37;
  padding-left: 12px;
  margin-bottom: 8px;
}
.money-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 88px;
}
.money-tips-small {
  color: #ef3346;
  font-size: 12px;
  line-height: 30px;
  margin-right: 2px;
}
.money-tips-big {
  color: #ef3346;
  font-size: 24px;
  font-weight: 400px;
}
.money-tips-max-small {
  font-size: 12px;
  color: #919598;
}
.money-center {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
}
.money-main {
  padding: 8px;
  height: 390px;
  background-color: #f5f6f7;
}
.money-warp {
  display: flex;
  padding: 8px;
  background-color: #ffffff;
  align-items: center;
  border-radius: 3px;
  overflow: hidden;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 8px;
}
.center-type {
  width: 55px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  border-radius: 3px;
  overflow: hidden;
  background-color: $theme-color;
  margin-bottom: 9px;
  flex: 1;
}
.center-title {
  font-size: 12px;
  color: #252d37;
  font-weight: 400px;
  margin-bottom: 9px;
}
.center-title-small {
  font-size: 12px;
  color: #252d37;
}
.right-btn {
  width: 64px;
  height: 24px;
  text-align: center;
  background-color: #ef3346;
  border-radius: 3px;
  overflow: hidden;
}
.right-btn-text {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  line-height: 24px;
  width: 100%;
}
.footer-btn-warp {
  background-color: $theme-color;
  height: 40px;
  line-height: 40px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  border-radius: 4px;
  margin: 0 10px;
  margin-bottom: 12px;
}
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section {
  z-index: 88;
  height: 275px;
}
.empty-text {
  margin-top: 16px;
  margin-bottom: 40px;
  font-size: 14px;
  color: $color-black-3;
}
