@import url('@linkseeks/ui/src/styles/theme/variables.less');

.container {
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: @padding-md;
    color: '#909399';
    font-size: 12px;
  }

  .percent {
    display: flex;
    flex-direction: row;
    align-items: center;

    .percentItem {
      position: relative;
      text-align: right;
      padding: 4px 8px;
      font-size: 12px;
      line-height: 12px;
      color: #fff;
    }
  }
}
