.album {
  width: 1200px;
  margin: 0 auto;
  padding-top: 48px;

  .album_title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 48px;
  }

  .album_box {
    display: flex;

    .box_left {
      margin-right: 24px;
      width: 686px;
      height: 458px;
      box-shadow: 0 8px 32px 0 rgb(0 0 0 / 8%);
      border-radius: 8px;
      overflow: hidden;
    }

    .box_right {
      .second_img {
        width: 492px;
        height: 276px;
        box-shadow: 0 8px 32px 0 rgb(0 0 0 / 8%);
        border-radius: 8px;
        overflow: hidden;
      }

      .box_right_bottom {
        margin-top: 24px;
        display: flex;

        .third_img {
          width: 237px;
          height: 158px;
          margin-right: 24px;
          border-radius: 8px;
          overflow: hidden;
        }

        .more_img {
          width: 231px;
          height: 158px;
          background-color: #ebecf0;
          font-size: 14px;
          color: #909399;
          line-height: 158px;
          border-radius: 8px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}
