.customs {
  :global {
    .ant-input {
      padding: 6px;
    }

    .ant-input-search-button {
      background-color: #f7f8fa;
    }
  }
}

.customsCheckbox {
  display: flex;
  align-items: center;

  :global {
    .ant-checkbox + span {
      flex: 1;
      margin-left: 20px;
    }
  }
}
