@import url('@linkseeks/ui/src/styles/theme/variables.less');

.value {
  display: flex;
  flex-direction: column;
  .name {
    margin-bottom: 4px;
  }
}
.main {
  color: @color-primary;
  cursor: pointer;
}
