@import '@/styles/variables.scss';

.AccountRecharge{
  padding: 8px;
  background: $theme-page-bg;
  &-Container{
    padding: 20px;
    border-radius: 6px;
    background-color: $theme-surface;
    &-title{
      font-family: PingFangSC-Regular;
      font-size: 14px;
    }
  }
  .action{
    margin-top: 20px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 7px;
    background: $theme-primary;
  }
}

.modelWrap{
  background-color: $theme-surface;
  width: 296px;
  border-radius: 16px;
  position: relative;
  z-index: 9;

  .modelMmian{
    padding: 0 20px;

    .title{
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: center;
      font-family: PingFangSC-Medium;
      font-weight: Medium;
      font-size: 14px;
      color: #303133;
      border-bottom: 1px solid $theme-border-light;
    }

    .modeCard{
      padding: 24px 0;

      .codeText{
        margin-top: 10px;
        font-size: 12px;
      }
    }

  }

}
