@import '@/styles/variables.scss';

.marketingCard-container {
  display: flex;
  flex-direction: column;
  background-color: $theme-surface;
  border: 1px solid $theme-border-light;
  box-shadow: $theme-shadow;
  border-radius: 8px;
  margin: 8px;
  overflow: hidden;

	&-wrap {
		// padding: 8px 12px;
	}
}
