@import url('../commonly.less');

.enterprises-main {
  background: #fff;
  padding: @padding;
  display: flex;
  font-size: 12px;
  cursor: pointer;

  .enterprises-right {
    padding: 0 16px;
    display: flex;

    .img-item {
      width: 136px;
      height: 136px;
      margin-right: 16px;
    }

    .img-item:last-child {
      margin-right: 0;
    }
  }
}
