.search-main {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 49px;

  .search-tips {
    font-size: 12px;
    padding: 16px 0;
    color: #909399;
  }

  .search-content-warp {
    display: flex;
    justify-content: space-between;

    .search-content-left {
      width: 848px;
    }

    .search-content-right {
      width: 336px;
      min-height: 600px;
    }
  }
}

.search-content-left {
  .search-text {
    color: #303133;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    padding: 0 16px;

    span {
      padding-left: 24px;
      border-left: 3px solid var(--mall-main-color);
    }
  }

  .search-content {
    padding: 0 24px;
  }
}
