.password-input {
  display: inline-block;

  .password-input-body {
    position: relative;
    overflow: hidden;

    .password-input-list {
      position: relative;
      display: flex;
      align-items: center;

      .password-input-item {
        position: relative;
        width: 48px;
        height: 48px;
        border: 1px solid rgb(235 236 240 / 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;

        &.flash {
          &::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 15px;
            background-color: #303133;
            left: 15px;
            animation: flash 1s infinite;
          }
        }

        @keyframes flash {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

        .circle {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: black;
        }
      }
    }

    .password-input-box {
      position: absolute;
      top: 0;
      // left: 0;
      // width: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: left;
      opacity: 0;
      z-index: 5;
    }
  }

  &.modal {
    padding: 0 56px;

    .password-input-body .password-input-list .password-input-item {
      &:not(:last-child) {
        border-right: none;
      }
    }
  }
}
