@import url('../commonly.less');

.album-main {
  @main();

  margin-bottom: 16px;

  .album-title {
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }

  .album-img-item {
    margin-top: 24px;
    margin-right: 8px;
    border-radius: 12px;
  }
}
