.container {
  @include common-container;
  padding: 8px;

  :global {
    .input-placeholder,
    .textarea-placeholder {
      font-size: 14px;
      color: $third-text-color;
    }
  }

  .input-wrap {
    @include flexBetween;
    align-items: center;
    margin-bottom: 8px;
    padding: 14px 12px;
    border-radius: 8px;
    background-color: #FFF;

    .title {
      width: 100px;
      font-size: 14px;
      font-weight: 500;
      color: $main-text-color;
    }

    .input {
      flex: 1;

      > input {
        text-align: right;
      }
    }
  }

  .remark-wrap {
    margin-bottom: 40px;
    padding: 16px 12px;
    border-radius: 8px;
    background-color: #FFF;
  }

  .btn-wrap {
    @include confirmBtn;
  }
}
