.new-shops-container {
  display: flex;
  padding-left: 8PX;
  padding-right: 8PX;
  margin-top: 12PX;
  flex-direction: column;
  .title-wrap {
    display: flex;
    padding-left: 4PX;
    padding-top: 4PX;
    padding-bottom: 4PX;
    align-items: center;
    .title {
      font-size: 16PX;
      color: #F5CD95;
      font-weight: bold;
      flex: 1;

    }

  }
  .shop-scroll-wrap {
    margin-top: 8PX;
    background-color: #FFF;
    border-radius: 8PX;
    .shop-list {
      display: flex;
      padding-top: 4PX;
      padding-bottom: 4PX;
      flex-direction: column;
      flex-wrap: wrap;
      height: 190PX;
      .shop-item {
        display: flex;
        padding-left: 12PX;
        padding-right: 12PX;
        width: 228PX;
        height: 33.33%;
        flex-direction: row;
        align-items: center;
        .shop-info {
          flex: 1;
          padding-left: 8PX;
          height: 38PX;
          flex-direction: column;
          .shopname {
            font-size: 12PX;
            color: #303133;
            font-weight: bold;

          }
          .address-wrap {
            display: flex;
            align-items: center;
            margin-top: auto;
            .address-text {
              font-size: 12PX;
              color: #909399;

            }
          }

        }
      }
    }
  }
}

