@import url('../common.less');

.@{prefixCls}-bottomNavigation {
  z-index: 1;
  background-color: #fff;
  position: fixed;
  left: 0;
  height: 56px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
