.item-time-main {
  display: flex;
  padding: 12px 0;
}

.item-time-warp {
  display: flex;
  color: #909399;
  align-items: center;

  .item-time-icon {
    margin-right: 4px;
    cursor: pointer;
  }
}

.item-time-warp:nth-child(2) {
  margin-left: 16px;
}
