.deliver {
  &-item {
    position: relative;

    &-actions {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
    }

    &-check {
      padding: 4px 12px;
      background: #606266;
      border-radius: 0px 4px 0px 0;
      color: #ffffff;
      cursor: pointer;
    }

    &-return {
      padding: 4px 12px;
      background: #00a98f;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
