@import '@/styles/variables.scss';

.AccountRecharge{
  padding: 12px;
  background: $theme-page-bg;
  &-Container{
    padding: 16px;
    border-radius: 6px;
    background-color: $theme-surface;
    &-title{
      font-family: PingFangSC-Regular;
      font-size: 14px;
    }
  }
  .action{
    margin-top: 20px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 7px;
    background: $theme-primary;
  }
}
