.hot-container {
  width: 1200px;
  margin: 40px auto 0;

  &-title {
    // margin-left: 50px;
    font-size: 38px;
    line-height: 53px;
    margin-bottom: 16px;
    color: #252d37;
  }
}

.container {
  width: 1200px;
  margin: 20px auto;
}

.commodityList {
  display: flex;
  flex-flow: row wrap;
  margin-right: -16px;
  // justify-content: center;

  .commodityItem {
    width: 20%;
    padding-right: 16px;
    margin-bottom: 12px;

    &.meal {
      width: 50%;
    }
  }
}
