.tag {
  padding: 0 8px;
  color: #00a98f;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  background: #ebf7f2;
  border-radius: 4px;

  &__success {
    color: #00a98f;
    background: #ebf7f2;
  }

  &__warnning {
    color: #ff991f;
    background: #fffae6;
  }

  &__default {
    color: #606266;
    background: #f4f5f7;
  }

  &__danger {
    color: #e63f3b;
    background: #ffebe6;
  }

  &__primary {
    color: #3f7ed2;
    background: #f0f8ff;
  }
}
