@main_color: #00a98f;

.select_city {
  display: flex;
  position: relative;
  flex: 1;

  &_value {
    flex: 1;
    width: 0;
    font-size: 12px;
    margin-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .value {
      color: #303133 !important;
    }

    .placeholder {
      color: #909399;
    }
  }

  &_icon {
    margin-right: 12px;

    & > img {
      width: 7px;
      height: 3.5px;
    }
  }
}

.tool_tip {
  position: relative;
  width: 320px;
  max-width: 320px !important;

  :global {
    .ant-tooltip-inner {
      padding: 0 24px 24px;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: @main_color;
    }

    .ant-tabs-ink-bar {
      background: @main_color;
    }
  }
}

.tab_body {
  display: flex;

  label {
    color: @main_color;
    font-size: 12px;
    margin-right: 12px;
    display: flex;
    padding-top: 6px;
  }

  .city_list {
    display: flex;
    flex: 1;
    width: 0;
    flex-wrap: wrap;
    margin: 0 -4px;
  }

  .select_item {
    width: 38px;
    height: 16px;
    line-height: 16px;
    margin: 6px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    cursor: pointer;
    text-align: center;

    &.active {
      background-color: @main_color;
      color: #fff;
    }
  }

  .province_line_wrap {
    display: flex;
    flex-direction: column;
    max-height: 230px;
    overflow: hidden auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgb(48 49 51 / 24%);
    }

    &::-webkit-scrollbar-track {
      background: #eef0f3;
    }

    .province_line {
      display: flex;
      border-bottom: 1px dashed #eef0f3;
      padding: 8px 0;

      .province_list {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
