@import url('../common.less');

.@{prefixCls}-marketingCard {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 8px;

  &.shop-color-type-1,
  &.shop-color-type-3,
  &.shop-color-type-5,
  &.shop-color-type-7,
  &.shop-color-type-8,
  &.shop-color-type-9,
  &.shop-color-type-10,
  &.shop-color-type-18,
  &.shop-color-type-19 {
    background-image: linear-gradient(180deg, #FFEBCC 0%, rgb(255 255 255 / 0%) 100%);
  }

  &.shop-color-type-2,
  &.shop-color-type-12,
  &.shop-color-type-13,
  &.shop-color-type-14,
  &.shop-color-type-16,
  &.shop-color-type-19 {
    background-image: linear-gradient(180deg, #FFE0E0 0%, rgb(255 255 255 / 0%) 100%);
  }

  &.shop-color-type-4,
  &.shop-color-type-6,
  &.shop-color-type-11 {
    background-image: linear-gradient(180deg, #DBD3FF 0%, rgb(255 255 255 / 0%) 100%);
  }

  &.shop-color-type-15 {
    background-image: linear-gradient(180deg, #C7DFFF 0%, rgb(255 255 255 / 0%) 100%);
  }

  &.shop-color-type-17 {
    background-image: linear-gradient(180deg, #CFF5ED 0%, rgb(255 255 255 / 0%) 100%);
  }
}
