.popover {
  :global {
    .ant-popover-title {
      display: flex;
      align-items: center;
      border-bottom: none;

      .ant-typography {
        margin-left: 6px;
        font-size: 14px;
      }
    }

    .ant-popover-inner-content {
      padding: 12px 16px 12px 38px;
      color: #5c626a;
      white-space: pre-line;
    }
  }
}
