.listCard {
  margin-top: 41px;
  .header {
    display: flex;
    align-items: center;
    height: 38px;
    border-bottom: 1px solid #F4F5F7;
    margin-bottom: 24px;
    &::before {
      content: "";
      width: 2px;
      height: 16px;
      background: @primary-color;
      margin-right: 6px;
    }
  }
}