@import '@/styles/variables.scss';

.container {
  background: #fff;
  height: 100vh;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  :global{
    .at-input{
      padding: 0 !important;
      margin-left: 0;
    }
  }
  .Text {
    color: #C0C4CC;
    font-size: 28px;
  }

  .list {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .item {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
      padding: 12px 16px;
      border: 1px solid transparent;
    }

    .itemAtive {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
      padding: 12px 16px;
      border: 1px solid $theme-color;
      border-radius: 8px;
    }

    Image ,taro-image-core {
      width: 80px;
      height: 80px;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .memberTypeName {
      flex: 1;
      font-size: 16px;
      margin-left: 16px;
    }
  }

  .InfoName {
    font-size: 24px;
    font-family: PingFangSC-Regular;
    color: #303133;
    margin-bottom: 22px;
  }

  .foot {
    text-align: center;
    border-radius: 20px;

    .btn {
      width: 100%;
      padding: 16px 0;
      color: #fff;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      background: $theme-color;
      border-radius: 8px;
    }
  }
}

.goBack {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	margin-top: 24px;
	color: #909399;
	width: 100%;
	text-align: center;
}
