.box {
  width: 100%;
  :global {
    .ant-table-expanded-row-level-1 .ant-table-cell {
      padding: 0px !important;
      background-color: #ffffff;
    }
    .ant-form-item {
      margin: 0 !important;
    }
  }
  .listItem {
    display: flex;
    .label {
      flex: 0.2;
      padding: 0 16px;
      color: #00A98F;
      background: linear-gradient(270deg, #ffffff 0%, #daf2e7 100%);
    }
    .text {
      flex: 1;
      padding: 0px 0px;
    }
    p {
      margin-bottom: 0;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    padding: 7px 12px;
    color: #c0c4cc;
    background: #e4e6eb;
  }
}

.upload_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  .upload_left {
    display: flex;
    align-items: center;
    color: #303133;
    background-color: #fafbfc;
    :global {
      .anticon-file-word {
        margin-right: 8px;
        color: #4279df;
        font-size: 18px;
      }
    }
  }

  .upload_right {
    color: #00A98F;
    cursor: pointer;

    :global {
      .anticon-delete {
        margin-left: 19px;
        color: #c0c4cc;
      }
    }
  }
}
.select {
  position: relative;
  width: 259px;
  text-align: left;
  .setBox {
    position: absolute;
    top: 1px;
    right: 78px;
    display: flex;
    align-items: center;
    width: 100px;
    :global {
      .ant-input-number {
        background: transparent;
        border: none !important;
        box-shadow: none !important;
      }
      .select {
        .ant-input-number:focus {
          background: transparent !important;
          border: none !important;
          box-shadow: none !important;
        }
      }
      .ant-input:focus,
      .ant-input-focused {
        background: transparent !important;
        border: none !important;
        box-shadow: none !important;
      }
      span {
        margin-left: 10px;
      }
    }
  }
}
.formNoStyle {
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}
.noBorder {
  :global {
    .ant-card-bordered {
      border: none;
    }
  }
}
