@import '@/styles/variables.scss';

.agrbox {
  display: flex;
  align-items: baseline;
  padding-bottom: 24px;
  &-text {
    margin-left: 6px;
  }

  &-consent {
    font-size: 12px;
    color: $theme-text-secondary;
  }

  &-signRight {
    font-size: 12px;
    color: $theme-title;
  }
}
