@import '../../../../../../../global/styles/utils.less';

.record {
  .list {
    height: 290px;
    overflow-y: auto;
    overflow-x: hidden;
    .silkyScrollbar();
  }

  .pagination {
    margin-top: 10px;
    text-align: right;
  }

  .noData {
    padding-top: 62px;
  }
}