.header {
  margin: 12px 0 32px 0;
  .title {
    min-width: 112px;
    height: 22px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #6b778c;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .value {
    height: 32px;
    font-size: 24px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #172b4d;
    line-height: 32px;
  }
}
