.common-drawer {
  :global {
    .ant-drawer-header-title {
      flex-direction: row-reverse;

      .ant-drawer-close {
        margin-right: 0;
      }
    }

    .ant-drawer-body {
      padding: 16px;
    }

    .ant-drawer-footer {
      border-top: 0;
    }
  }
}
