.selectBox {
  width: 100%;
}

.text_line {
  margin-bottom: 8px;

  &.use {
    background-color: #fafbfc;
    display: flex;
    flex-direction: column;
    padding: 12px;
  }

  & > span {
    color: #909399;
  }

  & > label {
    color: #303133;
    margin: 0 3px;
  }
}
