.history {
  border-radius: 8px;
  overflow: hidden;

  .historyHeader {
    height: 209px;
    background: -webkit-linear-gradient(top, rgba(91, 143, 249, 1), #ffffff);
    padding: 16px;

    h5 {
      font-size: 14px;
      color: #ffffff;
      margin-bottom: 24px;
    }
  }

  .box {
    color: #909399;
    font-size: 12px;
    text-align: center;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 0;

    .icon {
      width: 24px;
      position: absolute;
      left: 16px;
      top: 16px;
    }

    .badge {
      width: 16px;
      height: 16px;
      background: #ebecf0;
      border-radius: 12px;
      text-align: center;
      line-height: 16px;
      color: #909399;
      font-size: 12px;
      display: inline-block;
      position: absolute;
      left: 16px;
      top: 16px;
    }

    .rightPosition {
      position: absolute;
      right: 16px;
      top: 20px;
    }

    p {
      margin: 0;
    }

    .currentPrice {
      color: #303133;
      font-size: 24px;
      margin: 6px 0 12px 0;

      span {
        font-size: 12px;
        margin-right: 8px;
      }
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .col {
        flex: 1;

        span {
          color: #303133;
        }
      }
    }
  }

  .historyFootter {
    background-color: #ffffff;
    padding: 16px;

    h5 {
      font-size: 14px;
      color: #303133;
      margin-bottom: 16px;
    }
  }
}
