.service-warp {
  width: 288px;
  height: 302px;
  background: #fff;
  border: 1px solid #eef0f3;
  text-align: center;
  cursor: pointer;

  .service-icon-warp {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #edf6ff;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    color: #6278ed;
    margin: 48px auto 24px;
  }

  .service-title {
    color: #303133;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 32px;
  }

  .service-title-second {
    font-size: 14px;
    color: #909399;
    margin-bottom: 6px;
  }
}

.service-warp:hover {
  box-shadow: 0 8px 24px 0 rgb(192 196 204 / 28%);

  .service-icon-warp {
    background: #6278ed;
    color: #fff;
  }
}
