@import url('@linkseeks/ui/src/styles/theme/variables.less');

.cp-form-tags {
  .ant-tag {
    background-color: @color-ctl-active-bg;
    border: none;
    color: @color-primary;
    cursor: pointer;

    .anticon {
      color: @color-primary;
    }
  }
}

.cp-form-tags-input {
  width: 78px;
  margin-right: 8px;
  vertical-align: top;
}

.cp-form-tags-edit {
  user-select: none;
}
