@import url('../common.less');

.order_detail_warp {
  background: #fff;
  width: 100%;
  margin-top: 16px;
  padding: 16px;
  font-size: 12px;

  .order_detail_item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .shallow-tips {
    color: #5c626a;
  }

  .settlement_box_item_price_total {
    color: #e34d59;
    font-size: 20px;
  }
}
