.step_info {
  :global {
    .ant-steps-item-finish {
      // .ant-steps-item-icon {
      //   background-color: #00A98F;
      .ant-steps-item-icon {
        background-color: #00a98f;

        //   .ant-steps-icon {
        //     color: #FFFFFF;
        //   }
      }
    }

    .ant-steps-item-wait {
      .ant-steps-item-icon {
        border-color: #dcdcdc;

        .ant-steps-icon {
          color: #606266;
        }
      }
    }
  }
}
