.enterprises-warp {
  display: flex;
  align-items: center;

  .enterprises-evaluate {
    display: flex;
    align-items: center;
    background: rgb(0 0 0 / 4%);
    padding: 0 3px;
    border-radius: 6px;
  }

  .enterprises-key {
    color: #909399;
  }

  .enterprises-value {
    margin-right: 4px;
  }
}
