@import '@/styles/variables.scss';

.stepper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  &-minus {
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $spacing-h-sm - 1;

    &__disable {
      background-color: $theme-disabled-bg;
    }
  }

  &-plus {
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: $spacing-h-sm - 1;

    &__disable {
      color: $theme-disabled-text;
    }
  }

  &-input {
    width: 48px;
    border-radius: 4px;
    overflow: hidden;

    .at-input {
      padding: 0;
      margin: 0;
      background-color: $theme-disabled-bg;

      &__input {
        text-align: center;
        padding: $spacing-v-xs $spacing-h-sm;
        font-size: 12px;
      }
    }
  }

  .search-content {
    flex: 1;
    padding-left: $spacing-h-lg;
    background-color: $theme-surface;
    border-radius: 2px;
  }
}
