.sortable_tags {
  flex: 1;

  .react_sortable_component {
    display: inline-block;
    margin-left: -8px;
  }

  .dragging_icon {
    width: 16px;
    height: 16px;
    cursor: grab;
  }

  .closing_icon {
    cursor: pointer;
  }

  .tag {
    flex-shrink: 0;
    margin: 8px;
    border-radius: 2px;
    border: none;

    .tag_name {
      padding: 0 8px;
    }

    &._active {
      color: #00a98f;
      background: #ebf9f6;
    }
  }
}
