.content-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom-color: #f4f5f7;
  border-bottom-width: 1px;
  padding-left: 4px;
  padding-right: 4px;
}

.content-text {
  color: #252d37;
  font-weight: 400px;
  font-size: 14px;
}
.content-text-select {
  color: #91959b;
  font-size: 14px;
}
