.nodata_wrap {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &>p {
    color: #6B778C;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 0;
  }
}