.groupOption {
  display: flex;
  justify-content: space-between;
  .overflowHide {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.requiredStart::before {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 12px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
