.filter {
  width: 240px;

  .filter_box {
    padding-left: 16px;
    background-color: #ffffff;

    .filter_box_header {
      position: relative;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      color: #3a3a3a;
      font-size: 14px;
      font-weight: 500;

      &_icon {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        right: 22px;
        width: 12px;
        height: 12px;
        margin: auto 0;
        color: #303133;
        font-size: 14px;
        font-weight: bold;
      }
    }

    .filter_box_body {
      position: relative;
    }
  }
}
