@import '@/styles/variables.scss';
.page-card {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .card-container {
    margin-left: $spacing-h-md;
    margin-right: $spacing-h-md;
    margin-top: $spacing-v-md;
    overflow: hidden;
    border-radius: $border-radius-lg;
    -webkit-border-radius: $border-radius-lg;
    -moz-border-radius: $border-radius-lg;
    -ms-border-radius: $border-radius-lg;
    -o-border-radius: $border-radius-lg;
    background-color: $color-card-bg;
    outline: 1px solid $color-card-border;
    box-shadow: 0 4px 12px $color-card-shadow;
  }
  .page-body {
    background-color: $color-bg-grey;
    overflow: hidden;
  }
}
