@import '@/styles/variables.scss';

.scrollWrap{
  background-color: $theme-page-bg;
	height: 100vh;
	display: flex;
	flex-direction: column;
  .product{
		flex: 1;
    border-radius: 4px;
		overflow-x: hidden;
		padding: 8px;
    .product-item{
      background-color: $theme-surface;
      display: flex;
      padding: 19px;
      align-items: center;
      &-left{
        margin-right: 10px;
      }
      &-center{
        display: flex;
        flex: 1;
        Image ,taro-image-core {
          width: 72px;
          height: 72px;
          margin-right: 10px;
        }
        .extra{
          display: flex;
          flex: 1;
          // flex-direction: row;
          justify-content: space-between;
          flex-direction: column;
          font-size: 12px;
          color: #606266;
          .stock{
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

.submit{
	background-color: $theme-surface;
	padding: 8px;
	&-text{
		background-color: $theme-color;
		color: #fff;
		padding: 10px 0;
		text-align: center;
		border-radius: 4px;
	}
}
