@import url('@linkseeks/ui/src/styles/theme/variables.less');
.bottom-ctl-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.agreement-container {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 16px;
  background-color: @color-primary-100;
}
