.channel_floor_title {
  &_split {
    width: 527px;
    height: 4px;
    background: rgb(245 245 245 / 100%);
  }

  &_text {
    font-size: 24px;
    margin: 0 20px;

    & > .primary {
      color: #d32f2f;
      margin-left: 3px;
    }
  }

  .channel_floor_container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 40px;
  }
}
