.upload_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 5px 8px;
  background-color: #fafbfc;

  .upload_left {
    display: flex;
    align-items: center;
    color: #303133;

    :global {
      .anticon-file-word {
        margin-right: 8px;
        color: #4279df;
        font-size: 20px;
      }
    }
  }

  .upload_right {
    color: #00a98f;
    cursor: pointer;

    :global {
      .anticon-delete {
        margin-left: 19px;
        color: #c0c4cc;
      }
    }
  }
}
