@import '@/styles/variables.scss';

.goods-action {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: $spacing-h-md $spacing-h-md $spacing-h-md 0;
  background-color: #FFFFFF;
  z-index: 9999;

  &-icon {
    min-width: 52px;
    padding: 0 $spacing-h-md;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-text {
      margin-top: $spacing-v-xs;
      font-size: $font-size-xs;
      color: #303133;
      text-align: center;
    }
  }

  &-button {
    flex: 1;
    padding-left: $spacing-h-md;
    overflow: hidden;
  }
}
