.balanceInfoName {
  font-size: 14px;
  line-height: 16px;
}

.wrapContainer {
  background-color: #FAFBFC;
  padding: 12px 12px 0px 12px;
  margin-top: 8px;
  font-size: 14px;


  .item {
    margin-bottom: 16px;

    &-title {
      color: #909399;
    }

    &-value {
      color: #252D37;
      margin-left: 8px;
    }
  }

}

.payChannel {
  margin-top: 8px;

  .title {
    margin-bottom: 12px;
  }

  .panChanneList {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .item {
      margin-right: 16px;
      margin-bottom: 8px;
    }
  }
}

