.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  padding: 8px 16px;
  background-color: #F5F6F7;
  border-radius: 8px;
  border: 1px solid #F5F6F7;

  .img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

.active {
  border: 1px solid #00A98F;
  color: #00A98F;
  background: rgba(0,169,143,0.04);
}
