@import '@/styles/variables.scss';

.warp {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: #ffffff;
}
.title {
  display: flex;
  flex-direction: column;
  border-bottom-color: #e3e4e5;
  border-bottom-width: 1px;
}
.text {
  color: #303133;
  text-align: center;
  line-height: 48px;
  font-size: 16px;
}
.content-warp {
  display: flex;
  padding: 12px;

  flex-direction: column;
}
.content-title {
  color: #252d37;
  font-size: 14px;
  font-weight: 600px;
}
.content-btn {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 12px;
  color: $theme-color;
  border-width: 0.5;
  border-color: $theme-color;
  background-color: #ebf9f6;
  width: 80px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 5px 10px;
  font-size: 12px;
}
.content-btn1 {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 12px;
  color: #5C626A;
  border-width: 0.5;
  border-color: #F5F6F7;
  padding: 5px 10px;
  background-color: #F5F6F7;
  width: 80px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 12px;
}
.address-warp {
  display: flex;
  background-color: #fafbfc;
  padding: 12px;
  flex-direction: column;
  border-radius: 4px;
}
.address-text {
  font-size: 12px;
}
.address-text-first {
  margin-bottom: 6px;
}
.content-box{
  padding: 10px 0;
}
.content-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #fafbfc;
}
.submit{
  text-align: center;
  background-color: $theme-color;
  border-radius: 4px;
  margin: 8px 10px;
  color: #fff;
  padding: 10px 0;
}
