.list-main {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 49px;

  .search-tips {
    font-size: 12px;
    padding: 16px 0;
    color: #909399;
  }

  .search-content-warp {
    display: flex;
    justify-content: space-between;

    .search-content-left {
      width: 848px;
      background: #fff;
    }

    .search-content-left-item {
      margin-bottom: 16px;
    }

    .search-content-right {
      width: 336px;
    }
  }
}

.list-content-main {
  padding: 0 24px;

  .list-title {
    color: #303133;
    font-size: 20px;
    font-weight: bold;
    line-height: 54px;
    height: 54px;
    display: flex;
    border-bottom: 2px solid #f7f8fa;
    margin-bottom: 24px;
    align-items: center;
    justify-content: space-between;

    .list-tips {
      border-bottom: 2px solid var(--mall-main-color);
    }

    .list-more {
      font-size: 12px;
      font-weight: normal;
    }
  }

  .search-content {
    flex-wrap: wrap;
    display: flex;
  }
}
