.shopCredit {
  position: relative;
  display: inherit;
  .shopCreditIcon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 18px;
    height: 16px;
  }

  .pointWrap {
    background-color: #FFE6C8;
    border-radius: 1px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #773100;
    padding-right: 4px;
    padding-left: 12px;
    margin-left: 9px;
  }
}


.yearbox {
  height: 16px;
  display: flex;
  align-items: center;
  border-radius: 1px;
  border: 1px solid #6A8DDA;
  padding: 0 4px;
  font-size: 12px;
  color: #6A8DDA;
}
