@import '@/styles/variables.scss';

.container {
	display: flex;
	flex-direction: column;
}

.askpurchase-wrap {
	display: flex;
	flex-direction: column;
	height: 100%;

	.askpurchase-scrollView {
		position: relative;
		flex: 1;
		height: 0;
	}

	.askpurchase-list {
		display: flex;
		flex-direction: column;
		padding: 8px;

		&-item {
			padding: 8px;
			border-radius: 8px;
    background-color: $theme-surface;
			margin-bottom: 8px;

			&-line {
				display: flex;
				align-items: center;

				.flexEnd {
					align-items: flex-end;
				}
			}

			&-btn {
				display: flex;
				background-color: rgba(22, 130, 230, 0.12);
				height: 24px;
				align-items: center;
				color: $theme-primary;
				line-height: 16px;
				padding: 0 10px;
				font-size: 12px;
				font-weight: 400;
				border-radius: 4px;

				&:active {
					opacity: 0.85;
				}

				&.disabled {
					background-color: $theme-page-bg;
					color: #91959B;
				}
			}

			&-left {
				flex: 1;
				width: 0;
				display: flex;
				flex-direction: column;
				margin-top: 8px;
			}

			&-text {
				display: flex;
				align-items: center;
				font-size: 12px;
				color: #909399;
				margin-right: 16px;
			}

			&-count {
				color: #D9001B;
				margin: 0 4px;
			}

			&-time {
				color: #303133;
				margin: 0 4px;
			}

			&-company {
				font-size: 12px;
				color: #909399;
				margin-top: 4px;
			}

			&-img {
				border: 1px solid $theme-border-light;
				border-radius: 4px;
				overflow: hidden;
				margin-right: 12px;
			}

			&-name {
				flex: 1;
				width: 0;
				font-size: 14px;
				line-height: 20px;
				font-weight: 500;
				color: #303133;
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2; /* 限制行数 */
				line-clamp: 2;
				text-overflow: ellipsis;
				word-wrap: break-word;
				white-space: pre-line;
			}
		}
	}
}
