@primary-color: #00a98f;

// 公共padding变量
@padding-lg: 24px;
@padding-sm: 12px;
@padding-xs: 8px;
@padding-xss: 4px;
@padding-md: 16px;

// 公共margin变量
@margin-lg: 24px;
@margin-md: 16px;
@margin-sm: 12px;
@margin-xs: 8px;
@margin-xss: 4px;

@background-color-base: hsv(0, 0, 96%); // Default grey background color
@white: #fff;
