.container {
  display: flex;
  flex-direction: column;

  .checkboxItem {
    margin-bottom: 2px;

    .checkbox {
      display: flex;
      flex-direction: row;
    }

    &:last-of-type {
      margin-bottom: 0px;
    }
  }
}
