@import '@/styles/variables.scss';

.stock {
  &-address {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-left {
      margin-right: $spacing-h-sm;
      font-size: 0;
    }

    &-right {
      flex: 1;
    }

    &-text {
      font-size: $font-size-sm;
      color: $theme-title;
    }
  }

  &-tip {
    padding-left: $spacing-h-lg + 2;
    margin-top: $spacing-v-sm;
    font-size: $font-size-sm;
    color: $theme-primary;
  }
}
