@import url('@linkseeks/ui/src/styles/theme/variables.less');

.invoice {
  padding: 0 8px 16px 8px;

  .raido_group {
    position: relative;
    display: block;
    width: 100%;

    .list_radio {
      border: 1px solid #fff;
    }

    .invoice_list {
      position: relative;
      margin: 0 -10px;

      .invoice_list_item {
        display: flex;
        align-items: center;

        &_content {
          padding-left: 10px;

          &_tag {
            display: inline-block;
            background-color: #909399;
            padding: 0 6px;
            height: 16px;
            line-height: 16px;
            color: #fff;
            font-size: 12px;

            &.special {
              background-color: #5377ce;
            }
          }

          &_name {
            display: flex;
            align-items: center;

            .default {
              width: 64px;
              height: 16px;
              line-height: 16px;
              text-align: center;
              background: rgba(238, 238, 238, 1);
              font-size: 12px;
              color: #606266;
            }

            & > span {
              margin-right: 20px;
            }
          }
        }

        &_btn_group {
          display: flex;
          margin-left: auto;
          line-height: 14px;
          // height: 14px;

          .invoice_list_item_btn {
            margin: 0 10px;
          }
        }
      }

      .select_style_border {
        border: 1px solid #eef0f3;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // padding: 8px 14px;
        // flex: 1;
        // cursor: pointer;
        // line-height: 28px;
        // position:relative;
      }

      :global {
        span.ant-radio + * {
          display: block;
          width: 100%;
        }

        .ant-radio-wrapper {
          display: flex;
          width: 100%;
          align-items: center;
          height: 72px;
          background-color: #fafafa;
          border-radius: 4px;
          // margin: 10px;
          padding-left: 16px;
        }

        .ant-radio-wrapper.ant-radio-wrapper-checked {
          border: 1px solid @color-primary;

          &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 12px solid @color-primary;
            border-left: 12px solid transparent;
            bottom: 0;
            right: 0;
            z-index: 5;
          }
        }
      }
    }
  }
}
