/**
* global
*/
@prefix: lingxi-business;

// layout
@header-nav-height: 64px;
@layout-min-content-height: 100vh;

/**
* colors
*/

@white: #fff;

// global main color
@main-color: #00a98f;
@secondary-color: #e4f7ef;

// layout
@header-global-nav-bg: #38414a;
@menu-select-color: rgba(0, 0, 0, 0.85);
@menu-select-bg: rgba(0, 0, 0, 0.02);
@menu-circle-color: #d8dee4;
@menu-select-bg-color: rgba(0, 169, 143, 0.04);

// status circle color
@status-stop: #c1c7d0; // 停用
@status-modify: #669ede; // 已修改、待提交
@status-valid: #41cc9e; // 已生成，有效、审核通过
@status-invalid: #ffc400; // 未生成，无效、待审核
@status-nopass: #ef6260; // 审核不通过
