.order-materials {
  height: 100%;

  > div {
    height: 100%;

    > div {
      height: 100%;
    }
  }
}

.member-rights-editable {
  position: absolute;
  z-index: 2;
  width: 400px;
  transform: translateY(-30%);
}
