.ant-input-group-addon {
  padding: 0;
  border: none;
}
.connectBtn {
  width: 80px;
  height: 32px;
  line-height: 32px;
  background: #909399;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
