@import '@/styles/variables.scss';

.page {
  width: 100%;
  height: 100vh;
  background-color: #f4f5f7;
  :global {
    .at-input {
      flex: 0.8;
      text-align: right;
      font-size: 12px;
    }
    input {
      font-size: 14px;
    }
  }
  .warp {
    padding: 0px 12px;
    margin-top: -20px;
    .warpItem {
      background-color: #fff;
      border-radius: 5px;
      padding: 0 20px;
      .WarpTitle {
        padding: 10px 0;
        position: relative;
      }
      .WarpTitle::before {
        position: absolute;
        content: "";
        left: -12px;
        top: 9px;
        height: 20px;
        width: 4px;
        background-color: $theme-primary;
      }
      .FormTitem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .lalbel {
          font-size: 14px;
        }
        .input {
          flex: 1;
        }
        .Code {
          text-align: left;
        }
        .placeholder {
          color: #000;
        }
      }
      .Text {
        font-size: 14px;
        padding: 4px 0;
      }
    }
  }
  .Border {
    padding-left: 16px;
    border-left: 1px solid #f4f5f7;
  }
  .countryCode {
    font-size: 14px;
    text-align: center;
  }
  .btn {
    margin-top: 30px;
    padding: 10px;
    .btnText {
      padding: 10px;
      color: #fff;
      text-align: center;
      font-size: 14px;
      background-color: $theme-primary;
    }
  }
}
