.box {
  width: 100%;
}
.box :global .ant-table-expanded-row-level-1 .ant-table-cell {
  padding: 0px !important;
  background-color: #ffffff;
}
.box :global .ant-form-item {
  margin: 0 !important;
}
.box .listItem {
  display: flex;
}
.box .listItem .label {
  flex: 0.2;
  padding: 0 16px;
  color: #00A98F;
  background: linear-gradient(270deg, #ffffff 0%, #daf2e7 100%);
}
.box .listItem .text {
  padding: 0px 0px;
  flex: 1;
}
.box .listItem p {
  margin-bottom: 0;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: end;
}
.flex span {
  background: #e4e6eb;
  padding: 7px 12px;
  color: #c0c4cc;
}
.upload_item {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upload_item .upload_left {
  display: flex;
  align-items: center;
  color: #303133;
  cursor: pointer;
  background-color: #fafbfc;
}
.upload_item .upload_left :global .anticon-file-word {
  color: #4279df;
  font-size: 18px;
  margin-right: 8px;
}
.upload_item .upload_right {
  color: #00A98F;
  cursor: pointer;
}
.upload_item .upload_right :global .anticon-delete {
  margin-left: 19px;
  color: #c0c4cc;
}
.select {
  position: relative;
  width: 259px;
  text-align: left;
}
.select .setBox {
  width: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  top: 1px;
  right: 78px;
}
.select .setBox :global .ant-input-number {
  border: none !important;
  background: transparent;
  box-shadow: none !important;
}
.select .setBox :global .select .ant-input-number:focus {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}
.select .setBox :global .ant-input:focus,
.select .setBox :global .ant-input-focused {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}
.select .setBox :global span {
  margin-left: 10px;
}
