@import '@/styles/variables.scss';
@import '@/styles/utils/text-overflow-multi-line.scss';
@import '@/styles/utils/text-overflow.scss';

$hsm: $spacing-h-sm - 1;

.pointsSourcing-detail {
  padding: $spacing-v-md 0;
  position: relative;

  &-navbar {
    background-color: $color-bg-base;
    border-bottom: 1px solid $color-card-border;
  }

  .mellow-card,
  .product-descriptions-line-wrap {
    background-color: $color-card-bg;
    outline: 1px solid $color-card-border;
    box-shadow: 0 4px 12px $color-card-shadow;
  }

  .businessCard,
  .bookshelf-item {
    background-color: $color-card-bg;
  }

  .commodity-banner-swiper-item {
    background-color: $color-card-bg;
  }

  .historical-bar-title,
  .product-descriptions-line-label {
    color: $color-text-placeholder;
  }

  .product-descriptions-richtext,
  .product-descriptions-line-breif {
    color: $color-text-base;
  }

  .product-descriptions-title-line {
    background-color: $color-border-base;
  }

  &-anchor {
    height: 100%;

    &-item {
      padding: 0 $spacing-h-md;
    }
  }

  &-fixedWrap {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background-color: $color-card-bg;
    border-top: 1px solid $color-card-border;
    box-shadow: 0 -4px 12px $color-card-shadow;

    .goods-action {
      background-color: $color-card-bg;

      &-icon-text {
        color: $color-text-base;
      }
    }
  }

  &-fixedAction {
    .at-button {
      width: 100%;
      font-size: $font-size-base;
      border-radius: 8px;

      &--primary {
        background: $color-brand;
        border-color: $color-brand;
      }
    }
  }

  .shop-volume {
    font-size: $font-size-sm;
    color: $color-grey-2;
  }
}

.product {
  &-priceWrap {
    flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: $spacing-v-md;
  }

  &-price {
    font-size: $font-size-xxl;
    font-weight: 500;
    color: $color-brand;
  }

  &-unit {
    margin-left: $spacing-h-sm - 2;
    font-size: $font-size-xl;
    font-weight: 400;
    color: $color-brand;
  }

  &-name {
    line-height: $font-size-xl;
    font-size: $font-size-base;
    font-weight: 500;
    color: $color-grey-0;
  }

  &-describe {
    margin-top: $spacing-v-lg;
    margin-bottom: $spacing-v-md;
    font-size: $font-size-sm;
    font-weight: 400;
    color: $color-grey-2;
  }

  &-tags {
    &-item {
      padding: $spacing-h-sm - 1 calc($hsm / 2);
      margin-right: $spacing-h-md;
      color: $color-brand;
      font-size: 12px;
      background-color: $color-bg-light;
    }
  }
}
