.chartBox {
  margin-top: 24px;
}

// 适配
@media screen and (max-width: 1441px) {
  .homeCard {
    .numberDesc {
      font-size: 28px;
    }
  }
  .notePaperBox {
    .notePaperContainer {
      .noteHeader {
        p {
          font-size: 12px;
          img {
            padding: 0;
            margin: 0 4px;
            width: 36px;
            height: 36px;
          }
          span {
            padding-right: 4px;
          }
        }
      }
    }
  }
}
