.commodityTotalTitle {
  text-align: center;
  span {
    font-size: 12px;
    font-weight: 400;
    color: #909399;
  }
  p {
    height: 72px;
    font-size: 24px;
    font-weight: 500;
    color: #303133;
    line-height: 72px;
  }
}
.commodityTotalDesc {
  display: flex;
  justify-content: space-between;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    // &:first-child {
    //   margin-right: 50px;
    // }
    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      .lineDescText {
        margin-left: 24px;

        .lineDescTitle {
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 0;
        }

        .lineDescTip {
          font-size: 12px;
          font-weight: 400;
          color: #909399;
        }
      }
    }
  }
}
