.purchaseInquiry {
  padding-bottom: 52px;
  background-color: #f7f8fa;

  .purchaseInquiry_container {
    display: flex;
    padding-top: 20px;
    width: 1200px;
    margin: 0 auto;

    .purchaseInquiry_main {
      flex: 1;
    }
  }
}

.card-warp {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  .card-item {
    margin-right: 13px;
    position: relative;
    width: 230px;
    height: 280px;
    margin-bottom: 8px;
  }

  .card-item:nth-child(4n + 0) {
    margin-right: 0;
  }
}

.pagination-warp {
  text-align: right;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 31px;
}
