.record {
  &-tabs {
    :global {
      .ant-tabs-nav::before {
        border-bottom: none;
      }
    }
  }

  &-btns {
    margin-bottom: 16px;
  }
  
  &-row {
    :global {
      .ant-table-cell:first-child {
        background-color: rgba(250, 251, 252, 1);
      }
    }
  }
}