.loginInput {
  border: none;
  outline: none;
  box-shadow: none;
  color: #c8cacd;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  background-color: #f5f6f7 !important;

  input {
    font-size: 14px;
    background-color: #f5f6f7;
  }

  &:hover,
  &:focus {
    box-shadow: none;
    border: none;
  }
}
