.recommand {
  padding: 0 8px;
  margin-top: 24px;
  .title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 12px;
    display: block;
    line-height: 28px;
    margin-bottom: 8px;
  }
}

.hide {
  display: none;
}

.item {
  margin-bottom: 8px;
}
