.recommand {
  padding: 0 8px;
  margin-top: 24px;
  .title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 12px;
    display: block;
    line-height: 28px;
    margin-bottom: 8px;
  }
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .btn {
    font-size: 12px;
    padding: 4px 8px;
    background-color: rgb(239, 51, 70);
    border-radius: 16px;
    color: #fff;
  }
}

.hide {
  display: none;
}

.item {
  margin-bottom: 8px;
}
