.user-footer {
  padding: 8px 0;
  font-size: 12px;
  color: #c0c4cc;
  text-align: center;

  a {
    color: #c0c4cc;
  }

  &.fixed {
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 48px;
    left: 0;
  }
}
