.bindBlankPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F4F5F7;
  &-nav {
    background-color: #FFFFFF;
  }
  &-blankWrapper {
    border-radius: 8px;
    background-color: #FFFFFF;
    margin: 8px;
  }
  &-action {
    margin-top: 48px;
    margin-left: 12px;
    margin-right: 12px;
  }
  &-placeholderClass {
    font-size: 12px;
  }
  .at-input {
    width: 66% !important;
    padding: 0PX 0;
  }
  .at-input input {
    font-size: 12px;
    text-align: right;
  }
}
