.schemaform {
  :global {
    .ant-row {
      .ant-form-item-label {
        label {
          font-size: 12px !important;
        }
      }
      .formily-mega-item-after,
      .formily-mega-item-before {
        font-size: 12px !important;
      }
      .mega-layout-item-content {
        line-height: normal !important;
      }
      .formily-mega-item-before {
        margin-left: 108px;
      }
      .preview-text {
        line-height: 32px;
      }
    }
    .ant-table-cell {
      .ant-row {
        margin-bottom: 0px;
      }
    }
  }
}
:global {
  .morenyunfei-inline {
    display: flex;
    gap: 16px;
  }
}
