@import '@/styles/variables.scss';

.refund-details {
  height: 100vh;
  display: flex;
  background-color: $theme-page-bg;

  &-refundAmount {
    font-size: $font-size-lg;
    color: $color-error;
  }
}
