@import '@/styles/variables.scss';

.refund-confirm-result {
  height: 100vh;
  display: flex;
  position: relative;
  background-color: #F4F5F7;

  .actions {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    padding: $spacing-v-md $spacing-h-md;
    background-color: #FFFFFF;
  }
}
