.resetRadio {
  :global {
    .ant-radio-wrapper {
      padding: 4px 8px;
      border: 1px solid transparent;
      border-radius: 4px;
    }

    .ant-radio-wrapper-checked {
      color: #00a98f;
      border-color: #00a98f;
    }
  }
}
