@import '@/styles/variables.scss';

.scan-verify {
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	background-color: $theme-page-bg;

	&-top {
		display: flex;
		align-items: center;
		padding: 8px 10px;
		background-color: $theme-surface;
	}

	&-search {
		flex: 1;
		height: 32px;
		border-radius: 290px;
		background: $theme-page-bg;
		display: flex;
		align-items: center;
		padding: 4px 8px;
	}

	&-icon {
		width: 32px;
		height: 32px;
		margin-left: 10px;
	}

}
