.lingxi-mobile-show-case {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;

  &-item {
    width: 50%;
    padding: 4px;

    &-body {
      background-color: #fff;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 120px;
      overflow: hidden;

      .banner {
        display: block;

        img {
          max-height: none !important;
        }
      }
    }
  }
}
