@prefixCls: lingxi;
@mainColor: var(--mall-main-color);
@headerNavDefaultColor: #fff;
@headerNavScienceColor: #00a98f;

@danger: #ef3346;
@primary: #4569d4;
@success: #b7eb8f;
@warn: #ffe58f;
@purple: #9100f9;
@main: #00a98f;

.textOverflowMulti2(@line: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @line;
  overflow: hidden;
}
