@import '../../common.less';

.marketingCardCoupon {
  &-box {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    &-label {
      color: #91959b;
      width: 80px;
    }

    &-content {
      flex: 1;
      color: #303133;
    }
  }
}
