.skeleton-main {
  display: flex;
}

.skeleton-warp {
  width: 227px;
  height: 364px;
  border: 1px solid rgb(190 190 190 / 20%);
  padding: 16px;
  border-radius: 4px;
  margin-right: 16px;
  background-color: #fff;
}

.skeleton-warp:nth-child(4n) {
  margin-right: 0;
}
