
@import '@/styles/variables.scss';

.container {
  position: relative;
  padding: 0 4px;
  margin-bottom: 2px;

  .showCaseWrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .showCaseItem {
      width: 50%;
      height: 120px;
      padding: 4px;
      margin-bottom: 8px;
      padding: 0 4px;

      .showCaseItemBody {
        background-color: $color-card-bg;
        outline: 1px solid $color-card-border;
        box-shadow: 0 4px 12px $color-card-shadow;
        border-radius: 8px;
      }
    }
  }

}
