.ui-card {
  border-radius: 8px;

  .ant-card-body {
    padding: 16px;
  }

  .ant-card-head {
    border-bottom: none;
    padding: 0 16px;

    .ant-card-head-wrapper {
      padding: 16px 0 0 !important;

      .ant-card-head-title {
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }

      .ant-card-extra {
        padding: 0;
      }
    }
  }
}

.ui-card-mb {
  margin-bottom: 16px;
}
