@import url('./dropdown.less');
@import url('./menu.less');
@import url('./card.less');
@import url('./button.less');
@import url('./form.less');
@import url('./input.less');
@import url('./descriptions.less');
@import url('./select.less');
@import url('./table.less');
@import url('./radio.less');
@import url('./checkButton.less');
@import url('./tag.less');

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: @font-size-title-1;
}

h2 {
  font-size: @font-size-title-2;
}

h3 {
  font-size: @font-size-title-3;
}

h4 {
  font-size: @font-size-title-4;
}

h5 {
  font-size: @font-size-title-5;
}

h6 {
  font-size: @font-size-title-6;
}
