.ui-input {
  height: 32px;

  &.center {
    input {
      text-align: center;
    }
  }
}

.ui-input-search {
  .ant-input {
    height: 32px;
  }

  .ant-input-affix-wrapper {
    height: 32px;
    padding-top: 0;
    padding-bottom: 0;

    .ant-input {
      height: 100%;
    }
  }
}
