.ant-menu-inline .ant-menu-item-group-list .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  padding: @menu-item-inline-padding;
  color: @color-text-1;
}

.ant-menu-inline .ant-menu-submenu {
  padding: 0 8px;
}

.ant-menu-submenu-selected .ant-menu-submenu-title {
  background-color: @color-neutral-200;
}

.ant-menu-item-selected .ant-menu-item-icon {
  color: @menu-highlight-color;
}

.ant-menu-sub.ant-menu-inline {
  background-color: transparent;
}

.ant-menu-submenu-title,
.ant-menu-item {
  border-radius: @menu-item-radius;
}
