@import '@/styles/variables.scss';

.exchangeZone {
  position: relative;

  :global {
    .productList-item-container {
      border: 1px solid $theme-border-light;
      box-shadow: $theme-shadow;
    }
  }

  &-exchange_title {
    padding: 8px 12px;
    display: flex;
    align-items: center;
  }
  &-exchange_title_text {
    font-weight: 500;
    margin-left: 8px;
    font-size: 16px;
  }
  &-exchange_icon {
    width: 24px;
    height: 24px;
  }
  &-pointRang {
    padding-top: 8px;
    margin-bottom: 2px;
    border-bottom: 1px solid #EBECF0;
  }
  &-pointItem {
    // min-width: 60px;
    margin: 0px 12px;
    padding-bottom: 17px;
  }
  &-pointItemActive {
    border-bottom: 2px solid #EA8000;
  }
  &-pointItemText {
    font-size: 14px;
    font-weight: 500;
    color: #909399;
    display: inline-block;
    white-space: nowrap;
  }
  &-pointItemTextActive {
    color: #EA8000;
  }
}
