.triangleTag {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-size: 12px;
  border-radius: 2px;
  padding: 0 2px;
  .directionTriangle {
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
    position: absolute;
  }
}
