@import '@/styles/variables.scss';

.price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .discount {
    color: $theme-primary;
    line-height: 16px;
    .currency {
      font-size: $font-size-sm;
    }

    .inquiry {
			font-size: 14px;
			color: $color-brand;
		}

		.integral {
			color: $color-warning;
			font-size: 14px;
		}

    .big {
      font-size: $font-size-lg;
    }
    .small {
      font-size: $font-size-xs;
    }
  }

  .originalPrice {
    font-size: $font-size-xs;
    color: $theme-text-secondary;
    text-decoration: line-through;
    margin-left: $spacing-v-sm;
    // margin-bottom: $spacing-v-xs;
  }
}
