@import url('@linkseeks/ui/src/styles/theme/variables.less');
.searchColor {
  :global {
    .ant-input-group > .ant-input:first-child,
    .ant-input-group-addon:first-child {
      color: @color-primary;
    }
  }
}
.address_style {
  :global {
    .ant-form-item-control {
      width: 0;
    }
  }
}
.shopWarp {
  margin-bottom: 18px;
  // color: ;
}

.priceComparisonInfo-table {
  :global {
    .ant-table-tbody > tr > td {
      vertical-align: top !important;
    }
    .ant-radio-wrapper {
      align-items: center;
    }
  }
}
