.company-man {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 24px 0;

  .company-logo {
    width: 48px;
    height: 48px;
    // background: url('./compones.png');
    margin-right: 8px;
    background-size: 100% 100%;
    position: relative;
  }

  .logn-img {
    height: 48px;
    border-right: 1px solid #f4f5f7;
    padding-right: 24px;
    margin-right: 25px;
  }

  .company-title {
    color: #303133;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }

  .company-title:hover {
    color: #00a98f;
  }

  .company-icon {
    margin-left: 4px;
    font-size: 12px;
  }

  .company-diamonds {
    border: 1px dashed #ccc;
  }

  .quality-tips {
    position: relative;
    background: #ffe6c8;
    color: #773100;
    padding: 0 5px 0 10px;
    top: 2px;
    left: -8px;
    height: 14px;
    line-height: 14px;
    z-index: -1;
  }
}

.shop-card-warp {
  width: 360px;

  .shop-card-item {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
  }

  .shop-card-item-scond {
    display: flex;
    padding: 10px 0;
  }

  .shop-card-title {
    font-weight: bold;
    display: inline-block;
    width: 60px;
    font-size: 12px;
    color: #303133;
  }

  .shop-card-content {
    font-size: 12px;
    color: #909399;
    display: inline-block;
    width: 120px;
    flex: 1;
  }

  .shop-card-authentication {
    display: inline-block;
    color: #3877ff;
  }

  .shop-card-title-second {
    display: inline-block;
    width: 100px;
    font-size: 12px;
    color: #303133;
  }

  .shop-card-btn {
    width: 180px;
    border: 1px solid #ccc;
    text-align: center;
    color: #fff;
    border-color: #00a98f;
    background: #00a98f;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    margin: 0 auto;
    cursor: pointer;
    margin-top: 15px;
    height: 32px;
    line-height: 32px;
  }
}
