.pubiicity-main {
  height: 214px;
}

.pubiicity-warp {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;

  .pubiicity-item {
    width: 50%;
    margin-bottom: 24px;
    color: #303133;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    padding-right: 16px;
    position: relative;
  }

  .pubiicity-key {
    max-width: 480px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .pubiicity-item:hover {
    color: #00a98f;
  }
}

.publicity-warp {
  color: #909399;
}
