.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #fafbfc;
  border-radius: 4px;
  color: #00a98f;
  font-size: 12px;
  height: 32px;
  padding: 0 10px;

  .image {
    width: 20px;
    height: 20px;
    margin-right: 15px;

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  .view {
    margin-left: auto;
    cursor: pointer;
  }

  .text {
    cursor: pointer;
  }
}
