@import '@/styles/variables.scss';
@import '@/styles/utils/text-overflow-multi-line.scss';
@import '@/styles/utils/text-overflow.scss';

$hsm: $spacing-h-sm - 1;


.soleSourcing-detail-product {
  &-name {
    line-height: 18px;
    font-size: $font-size-base;
    font-weight: 500;
    color: $color-grey-0;
    @include text-overflow-multi-line(2);
  }

  &-consulting {
    display: inline-block;
    margin-top: $spacing-v-md + 2;
    align-self: flex-start;
    padding: $spacing-v-sm - 2 $spacing-h-sm;
    background-color: #EBF9F6;
    color: $color-brand;
    font-size: $font-size-sm;
    font-weight: 400;
    border-radius: 2px;
  }
}

.soleSourcing-detail {
  padding: $spacing-v-md 0;
  position: relative;

  &-anchor {
    height: 100%;

    &-item {
      padding: 0 $spacing-h-md;
    }
  }


  &-fixedWrap {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background-color: #FFFFFF;
  }

  .shop-volume {
    font-size: $font-size-sm;
    color: $color-grey-2;
  }
}

.product {
	&-priceWrap {
		flex: 1;
		display: flex;
		align-items: center;
		margin-bottom: $spacing-h-md;
	}

	&-head {
		display: flex;
		background-image: linear-gradient(80deg, #F7F7F9 23%, #EBECF0 99%);

		&-titleWrap {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 109px;
			background-image: url('http://lingxi-mini.oss-cn-hangzhou.aliyuncs.com/miniprogram/assets/images/left.png');
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}

		&-title {
			padding-left: $spacing-h-lg;
			padding-right: $spacing-h-xl * 2;
			color: $color-brand;
			font-size: $font-size-lg;
		}

		&-desc {
			flex: 1;
			padding: $spacing-v-lg - 2 $spacing-v-lg;
			color: $color-grey-2;
			font-size: $font-size-sm;
			text-align: right;
		}
	}

	&-container {
		padding: $spacing-v-lg;
	}

	&-name {
		line-height: 18px;
		font-size: $font-size-base;
		font-weight: 500;
		color: $color-grey-0;
		@include text-overflow-multi-line(2);
	}

	&-describe {
		margin-top: $spacing-v-lg;
		margin-bottom: $spacing-v-lg;
		font-size: $font-size-sm;
		font-weight: 400;
		color: $color-grey-2;
		@include text-overflow();
	}

	&-tags {
		&-item {
			padding: $spacing-h-sm - 1 calc($hsm / 2);
			margin-right: $spacing-h-md;
			color: #D69B5D;
			font-size: $font-size-sm;
			background-color: #FCF7F2;
		}
	}
}
