@import '@/styles/variables.scss';

.activity {
  border-radius: 8px;
}

.activity-box {
  margin: 8px 8px 0 8px;
  border-radius: 8px;
  outline: 1px solid $color-card-border;
  box-shadow: 0 4px 12px $color-card-shadow;

  &-top {
    border-radius: 8px 8px 0 0;
    padding: 12px 12px 14px 12px;
    background: linear-gradient(135deg, $color-brand-dark 0%, $color-brand-light 100%);

    &.end {
      background: $color-text-disabled;
    }

    &-view {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 8px;
    }

    &-text {
      flex: 1;
      margin-right: 12px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; // 控制多行的行数
      -webkit-box-orient: vertical;
    }

    &-text2 {
      margin-top: 2px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &-content {
    border-radius: 8px;
    background: $color-card-bg;
    padding: 8px 12px 12px 12px;
    margin-top: -8px;

    .content-item {
      display: flex;
      flex-wrap: wrap;

      &-view {
        position: relative;
        width: 72px;
        height: 72px;
        border-radius: 4px;
        margin-right: 8px;
        overflow: hidden;

        &-img {
          width: 100%;
          height: 100%;
        }

        &-more {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          background-color: rgba($color: #000000, $alpha: 0.5);
        }
      }
    }

    .content-bottom {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 8px;
      font-size: 12px;

      &-text1 {
        color: $color-text-base;
      }

      &-text2 {
        margin: 0 4px;
        color: $color-brand;
        font-weight: 500;
      }

      &-time {
        margin: 0 4px;
        width: 20px;
        line-height: 20px;
        border-radius: 3px;
        color: #ffffff;
        background: $color-brand;
        text-align: center;
      }
    }
  }
}
