.wrap {
  margin-bottom: 8px;
  :global {
    .ant-card {
      border-radius: 8px;

      .ant-card-head {
        border-bottom: none;
      }

      .ant-card-head-title {
        font-size: 16px;
        color: #252d37;
        line-height: 16px;
      }
    }
  }
}
