@import '@apps/mobile-ui/packages/styles/mixins/libs/border.scss';
@import '@/styles/variables.scss';
@import '@/styles/utils/text-overflow.scss';

$filter-tofu-prefix: 'filter-tofu';

.filter-tofu {
  display: flex;
  flex-wrap: wrap;
  margin: (-$spacing-v-sm) (-($spacing-h-sm - 1));

  &__indexes {
    display: flex;
    flex-wrap: wrap;
    margin: $spacing-v-md + 1;

    .at-indexes__list-content {
      width: 33.333%;

      .#{$filter-tofu-prefix}-item {
        width: 100%;
      }
    }
  }

  &-item {
    width: 33.333%;

    &-wrap {
      padding: $spacing-v-xs + 1 $spacing-h-sm - 1 ;
    }

    &-content {
      padding: $spacing-v-lg - 2 $spacing-h-lg - 2;
      background-color: $theme-page-bg;
      font-size: 12px;
      color: $color-grey-1;
      text-align: center;
      border-radius: 4px;
      box-sizing: border-box;
      @include text-overflow();
      @include border-thin($theme-border-light);
    }

    &__active {
      .#{$filter-tofu-prefix}-item-content {
        background-color: $theme-primary-soft;
        color: $color-brand;
        @include border-thin($color-brand);
      }
    }
  }
}
