@import '~antd/es/style/themes/default.less';
@import url('@linkseeks/ui/src/styles/theme/variables.less');

.memberRole {
  &-action {
    margin-bottom: @margin-sm;
  }

  &-stamp {
    padding: @padding-md @padding-md 0;
    background-color: #ffffff;
    border: 1px solid #ebecf0;
    border-left-color: @color-primary;
  }
}
