.setting_panel {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;

  &_body {
    flex-grow: 1;
    // padding: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 12px;
    line-height: 1.5715;
  }

  &_footer {
    flex-shrink: 0;
    padding: 10px 10px;
    border-top: 1px solid #f0f0f0;
  }
}
