.card-list {
  margin-top: 24px;
  font-size: 12px;
  line-height: 20px;
  // border: 1px solid #F4F5F7;
  // padding: 12px;
}
.card-list_title {
  color: #909399;
  font-size: 12px;
}

.participateContent {
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #f4f5f7;
  border-top: 1px solid #00a98f;
}
.amount {
  margin-bottom: 0;
  padding-bottom: 12px;
  font-weight: bold;
  border-bottom: 1px dashed #ebecf0;
  span {
    color: #909399;
  }
}
