@import '../../../../../../global/styles/utils.less';
@import '../../common.less';

.selectBtn {
  display: block;
  width: 100%;
  background-color: #fafbfc;
  border: 1px dashed #d8dde6;
}

.uploadPreview {
  border: 1px solid #ebecf0;
}
