@import '~antd/es/style/themes/default.less';
@import url('@linkseeks/ui/src/styles/theme/variables.less');

.register-info {
  padding-top: @padding-xs;
  background-color: #ffffff;

  .card-box-title {
    padding-left: @padding-xs;
    font-weight: 500;
    font-size: @font-size-lg;
    line-height: @font-size-lg;
    border-left: 2px solid @color-primary;
  }

  .changed {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
}
