.address_raido_group {
  display: flex;
  flex-direction: column;
  margin: 0 -12px;

  .address_list {
    display: flex;
    flex-direction: column;

    .address_list_radio {
      background-color: #f5f6f7;
      border-radius: 4px;
      display: flex;
      height: 72px;
      align-items: center;
      padding-left: 16px;
      margin-bottom: 16px;
      margin-right: 0;

      .adderss_list_radio_line {
        font-size: 14px;
        color: #252d37;

        & > span {
          margin-right: 16px;
        }

        .fullAddress {
          color: #91959b;
          font-size: 12px;
        }
      }
    }
  }
}
