@import "@/styles/variables.scss";
@import "@/styles/utils/modal.scss";

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-bg-base;
  height: 100vh;
}
.bar {
  background-color: $color-bg;
}
.safe-container {
  width: 100%;
  margin: 0;
  border-top-width: 1px;
  border-color: $color-card-border;
  display: flex;
  flex-direction: column;
}
.user {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-bg;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.user-name {
  font-size: 24px;
  font-weight: 600px;
  color: $color-text-title;
  margin-bottom: 8px;
}
.slogen {
  color: $color-text-placeholder;
  font-size: 12px;
}
.safe-score {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 24px;
  width: 100%;
  border-radius: 5px;
}
.safe-score-low {
  background-color: $color-brand;
  background-image: linear-gradient(to right, $color-brand-dark, #e18c59);
}
.safe-score-full {
  background-color: $color-brand;
  background-image: linear-gradient(to right, #9a5838, $color-brand);
}
.score {
  font-size: 48px;
  margin-right: 9px;
  color: #fff;
}
.tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tips-text {
  margin-bottom: 4px;
  font-size: 12px;
  color: #fff;
  opacity: 0.75;
}
.rating {
  width: 80px;
}
.section {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}
.height-light {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.select-item {
  background-color: $color-card-bg;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid $color-card-border;
  box-shadow: 0 4px 12px $color-card-shadow;
}
.title {
  margin-left: 12px;
  color: $color-text-title;
}
.extra-side {
  align-items: center;
}
.extra-title {
  margin-right: 4px;
  font-size: 12px;
  color: $color-text-placeholder;
}

.account-model {
  @include new-index-at-model;
}
