@import '@apps/mobile-ui/packages/styles/variables/default.scss';
@import '@apps/mobile-ui/packages/styles/mixins/libs/border.scss';
@import '@/styles/variables.scss';
@import '@/styles/utils/text-overflow.scss';

.privacy{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9999;
	background-color: rgba(0,0,0,.4);
	display: flex;
	flex-direction: column;
	height: 100vh;
	&-gap{
		flex: 1;
	}
	&-container{
		background-color: $theme-surface;
		border-radius: 16px 16px 0px 0px;
		overflow: hidden;
		height: 50%;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
		&-title{
			height: 48px;
			line-height: 48px;
			color: $theme-title;
			font-size: 16px;
			font-weight: 500;
			font-family: "PingFang SC";
			text-align: center;
		}
		&-box{
			padding: 8px 12px;
			flex: 1;
		}
		&-text{
			color: $theme-text;
			font-size: 14px;
			font-weight: 400;
			font-family: "PingFang SC";
			text-align: left;
		}
		&-privacy-text{
			color: $color-brand;
			font-size: 14px;
			font-weight: 400;
			font-family: "PingFang SC";
			text-align: left;
			line-height: 20px;
			margin-top: 8px;
			margin-bottom: 8px;
		}
		&-buttonBox{
			padding: 8px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-button{
				width: 48%;
				height: 40px;
				background-color: $theme-disabled-bg;
				color: $theme-title;
				font-size: 16px;
				font-weight: 500;
				font-family: "PingFang SC";
				text-align: center;
			}
			&-button-agree{
				background-color: $color-brand;
				color: #fff;
			}
		}
	}
}
