// @统一处理 业务表格内不嵌套NiceForm组件的高级筛选 间距异常问题
.god-schema-form {
  & > .ant-form-item {
    margin-bottom: 0 !important;
  }
  & > .ant-row-end {
    margin-top: 24px !important;
  }
}

.adjustFormItem {
  :global {
    .ant-radio-button-wrapper {
      margin-right: 16px;
    }
  }
}
