body {
  background-color: #f7f8fa;
}

.bannerWrap {
  width: 1200px;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;

  .bannerContainer {
    flex: 1;
    padding: 0 16px;

    .bannerHorizontal {
      display: flex;
      justify-content: space-between;
    }
  }
}
