.customStepCss {
  :global {
    .ant-steps-item-tail {
      top: -8px;
    }
    .ant-steps-item-title {
      font-size: 12px !important;
    }
    .ant-steps-item-description {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.45) !important;
    }
  }
}
