@import '@/styles/variables.scss';

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $theme-page-bg;
}
.padd {
  width: 100%;
  flex-direction: column;
  padding: 8px;
  height: calc(100vh - 45px);
}
