
@import '@/styles/variables.scss';

.informationList {
  display: flex;
  flex-direction: column;

}
.informationItem {
  display: flex;
  background-color: $color-card-bg;
  outline: 1px solid $color-card-border;
  box-shadow: 0 4px 12px $color-card-shadow;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 8px;
}

.informationInfoWrap {
  flex-direction: column;
  display: flex;
  flex: 1;
  margin-left: 8px;
}

.informationTitle {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;  // 控制多行的行数
  -webkit-box-orient: vertical;
  line-height: 20px;
}

.informationTagWrap {
  display: flex;

}

.informationTag {
  background-color: #F0F8FF;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  margin-top: 4px;
}

.informationTagText {
  font-size: 10px;
  color: #4279DF;
}

.informationBottom {
  display: flex;
  margin-top: auto;
  align-items: center;
}

.informationBottomText {
  font-size: 12px;
  color: $color-text-placeholder;
}

.informationBottomRight {
  margin-left: auto;
}


.footer {
  display: flex;
  color: $color-text-disabled;
  font-size: 12px;
  justify-content: center;
  padding: 10px 0;
}
