@import url('@linkseeks/ui/src/styles/theme/variables.less');

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  .select {
    width: 134px;
    margin-right: @padding-md;

    .image {
      width: 24px;
      height: 18px;
    }
  }
  .input {
    flex: 1;
  }
}
