@import '@/styles/variables.scss';

.page {
  width: 100%;
  height: 100vh;
  background-color: $theme-page-bg;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  :global {
    .at-input {
      flex: 1;
      text-align: right;
      font-size: 14px;
    }
  }
  .warp {
    padding: 12px;
    .warpItem {
  background-color: $theme-surface;
      border-radius: 8px;
      padding: 0 20px;
			margin-bottom: 24px;
      .WarpTitle {
        padding: 10px 0;
        position: relative;
      }
      .WarpTitle::before {
        position: absolute;
        content: "";
        left: -12px;
        top: 9px;
        height: 20px;
        width: 4px;
        background-color: $theme-primary;
      }
      .FormTitem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .lalbel {
          font-size: 14px;
        }
        .input {
          flex: 1;
        }
        .placeholder {
          color: #c8cacd;
        }
      }
      .Text {
        font-size: 14px;
        padding: 4px 0;
      }
    }
  }
  .btn {
    margin-top: 30px;
    padding: 10px;
    .btnText {
      padding: 10px;
      color: #fff;
      text-align: center;
      font-size: 14px;
      background-color: $theme-primary;
    }
  }
}

.footerContent {
  padding: 30px 12px 20px;
  .agreementContent {
    padding: 20px 0px;
  }
}
