@import url('@/theme/style/common.less');

.container {
  .common_page_container();

  padding-bottom: 24px;

  .horizontalWrap {
    display: flex;
    padding-top: 16px;
    justify-content: space-between;
  }

  .bannerWrap {
    margin: 0 16px;
    flex: 1;
    width: 0;
  }

  .quickNavWrap {
    width: 320px;
  }

  .banner-warp {
    width: 736px;
  }

  .user-message-warp {
    width: 240px;
    height: 400px;
  }

  .publicity-warp {
    height: 262px;
    width: 100%;
    background: #fff;
    padding: 0 16px;
  }
}
