.plus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  padding: 4px;
  border: 1px solid #edeeef;
  border-radius: 4px;
  background-color: #edeeef;
  color: #5c626a;
  cursor: pointer;
}
