.add_goods_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 32px;
  margin: 0 auto;
  margin-top: 16px;
  border: 1px dashed #00a98f;
  cursor: pointer;

  .add_icon {
    margin-right: 9.4px;
    color: #00a98f;
  }

  .add_text {
    color: #00a98f;
    font-size: 12px;
  }
}
