.stamp {
  padding: 16px 20px;
  margin: 16px 10px;
  background: #fafbfc;
  box-shadow: 0px 4px 6px 0px rgba(23, 43, 77, 0.08), 0px 0px 1px 0px rgba(23, 43, 77, 0.12);
  border-radius: 4px;
  border-left: 2px solid #606266;
  position: relative;

  .imprinted {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    height: 80%;
    border-right: 1px dashed #e6e7eb;
  }
}
