@import '@/styles/variables.scss';
@import "@/styles/utils/modal.scss";
.page {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}
.pageHeader {
  background-color: $theme-color;
}
.headerTitle {
  color: #fff;
}
.scrollView {
  background-color: #f4f5f7;
  display: flex;
  flex: 1;
}
.countContainer {
  background-color: $theme-color;
  height: 40px;
  width: 100%;
}
.panel {
  margin: -30px 8px 0;
}
.payPanel {
  margin: 10px 8px 0;
}
.btn {
  // position: relative;
  width: 100%;
  background-color: $theme-color;
  // zIndex: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
	border-radius: 8px;
}
.btnText {
  color: #fff;
  font-size: 16px;
}
.btn-container{
	padding: 8px;
	background-color: #fff;
}
.contentMain {
  height: 488px;
  display: flex;
  flex-direction: column;
  margin: 8px;
}
.contentWarp {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  margin-top: 8px;
  border-bottom: 1px solid #f7f7f9;
  border-radius: 8px;
  background-color: #ffffff;
}
.notBot {
  border-bottom-width: 0;
}
.contentItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.contentImg {
  margin-right: 10px;
}
.contentLeft {
  display: flex;
  align-items: center;
}
.name {
  font-size: 14px;
  color: #252D37;
  font-weight: 600;
}
.secondTitle {
  font-size: 12px;
  color: #91959b;
  margin-bottom: 8px;
}
.textMain {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 6px;
  margin-top: 8px;
  flex-direction: column;
}
.textWarp {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}
.textTitle {
  font-weight: bold;
  color: #252d37;
  font-size: 14px;
}
.textValue {
  color: #252d37;
  font-size: 14px;
}

.payOrder-model {
  @include new-index-at-model;
}
