.baseItem {
  display: flex;
  font-size: 12px;
  margin-bottom: 16px;

  .label {
    width: 104px;
    color: #909399;
    margin: 0;
  }

  .content {
    flex: 1;
    margin: 0;

    img {
      width: 24px;
    }

    .badge {
      width: 24px;
      height: 24px;
      background: #ebecf0;
      border-radius: 12px;
      text-align: center;
      line-height: 24px;
      color: #909399;
      font-size: 12px;
      display: inline-block;
    }
  }
}
