.item {
  background-color: #fff;
  padding: 36px 24px;
  font-size: 12px;
  position: relative;

  .row {
    margin-bottom: 24px;
  }

  .controller {
    position: absolute;
    top: 20px;
    right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;

    .edit {
      margin-right: 12px;
      cursor: pointer;
    }
    .remove {
      cursor: pointer;
    }
  }
}

.margin {
  margin-bottom: 24px;
}

.add {
  height: 100%;
  min-height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fafbfc;
  border-radius: 2px;
  border: 1px solid #dcdfe6;
  cursor: pointer;
}
