@import '@/global/styles/global.less';

.formBoxStep3 {
  background-color: #fff;
  height: 628px;
  border-radius: 8px;
  .make-center(margin);
  .make-center(text);

  & .description {
    margin-bottom: 40px;

    & p {
      .font-height-color(14, 20, #606266);
    }
  }

  &.guid {
    .font-height-color(14, 22, #909399);
  }

  & h2 {
    font-size: 24px;
    color: rgba(23, 43, 77, 1);
    margin: 24px 0;
  }

  & img {
    display: block;
    .make-center(margin);
  }
}
