@import '@apps/mobile-ui/packages/styles/mixins/libs/border.scss';
@import '@/styles/variables.scss';
@import '@/styles/utils/text-overflow-multi-line.scss';

.exchange-edit-products {
  padding-bottom: 100px;

  &-list {
    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 $spacing-h-lg;
      margin: $spacing-v-md $spacing-h-md 0;
    background-color: $theme-surface;
      border-radius: 8px;

      &-head {
        padding: $spacing-v-lg 0;

        &__border {
          @include border-thin-bottom($color-bg-grey);
        }
      }

      &-left {
        margin-right: $spacing-h-lg;
      }

      &-right {
        flex: 1;
      }

      &-name {
        font-size: $font-size-base;
        font-weight: 600;
        color: $color-grey-0;
        @include text-overflow-multi-line(1);
      }

      &-content {
        font-size: $font-size-base;
        color: $color-grey-0;
      }

      &-amount {
        font-size: $font-size-base;
        color: $color-error;
      }
    }
  }

  &-actions {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    padding: $spacing-v-md $spacing-h-md;
    background-Color: $theme-surface;
  }
}
