@import '@/styles/variables.scss';

.news-rec-container {
  flex: 1;
  background-color: $theme-page-bg;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .category-wrap {
    padding-left: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: nowrap;
    width: 100vw;
    .category-item {
      background-color: $theme-surface;
      margin-right: 10px;
      display: inline-flex;
      flex-direction: column;
      border-radius: 8px;
      overflow: hidden;
			width: 256px;

      .category-name {
       	padding: 8px 12px;
				display: flex;

        .category-title {
					flex: 1;
					width: 0;
          font-size: 14px;
					line-height: 20px;
					height: 40px;
					overflow: hidden;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2; /* 限制行数 */
					line-clamp: 2;
					text-overflow: ellipsis;
					word-wrap: break-word;
					white-space: pre-line;
        }
      }
    }
  }
  .category-wrap-mian {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: $theme-surface;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    .category-text-active {
      color: #000;
      font-size: 14px;
      font-weight: 500px;
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom-width: 2px;
      border-bottom-color: $theme-color;
    }
    .category-text {
      font-size: 14px;
      padding-top: 8px;
      padding-bottom: 8px;
      color: #606266;
      font-weight: 500px;
    }
  }
  .bottom-scroll {
    flex: 1;
    padding: 10px;
    overflow: hidden;
  }
}
