@import '@/styles/variables.scss';

.page-layout-mall {
  height: 100%;
  min-height: auto;
}

.stocksSourcing-theme {
  background-color: $color-bg-base;

  .nav-bar {
    background-color: $color-card-bg;
    box-shadow: 0 2px 8px $color-card-shadow;
  }

  .filter {
    background-color: $color-bg-base;
    border-bottom: 1px solid $color-card-border;

    .filter-sort-bar {
      background-color: $color-bg-base;
    }
  }
}

.stocksSourcing {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &-search {
    padding: 0;
  }

  &-list {
    height: 100%;
    position: relative;
  }

  &-scrollView {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .filter {
    &-extra {
      &-item {
        &-name {
          font-size: 12px;
          color: $color-grey-2;
        }

        &-icon {
          margin-left: $spacing-h-sm - 2;
          color: $color-grey-2;
        }
      }
    }
  }
}
