.string-field {
  position: relative;
  color: #909399;
  font-size: 12px;
}
.string-field::after {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 12px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
  margin-left: 8px;
}
