.lingxi-advert {
  width: 100%;
  height: 70px;
  overflow: hidden;
  background-color: #fff;

  :global {
    .ant-carousel .slick-dots {
      opacity: 0;
    }
  }

  .topAdvert_list {
    height: 70px;

    &_item {
      height: 70px;
      overflow: hidden;

      & > span {
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: block;

        & > img {
          height: 100%;
          width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

.lingxi-banner {
  position: relative;
  height: 336px;

  .banner_list {
    .banner_list_item {
      height: 336px;

      &_img {
        height: 336px;
      }
    }
  }

  .banner_prev {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 148px;
    left: 1px;
    background: rgb(0 0 0 / 24%);
    border-radius: 0 100px 100px 0;
    color: rgb(255 255 255 / 60%);
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
  }

  .banner_next {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 148px;
    right: 1px;
    background: rgb(0 0 0 / 24%);
    border-radius: 100px 0 0 100px;
    color: rgb(255 255 255 / 60%);
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
  }

  :global {
    .ant-carousel .slick-slide {
      text-align: center;
      height: 336px;
      overflow: hidden;
    }

    .ant-carousel .slick-slide h3 {
      color: #fff;
    }
  }
}

.lingxi-interact_list {
  display: flex;
  // width: 1200px;
  margin: 16px auto;
  height: 160px;
  margin-bottom: 0;
  justify-content: space-between;

  .interact_list_item {
    width: 320px;
    height: 160px;
    overflow: hidden;

    &:first-child {
      margin-right: 16px;
    }

    & > a {
      outline: none;
      text-decoration: none;

      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.lingxi-service_list {
  display: flex;
  width: 1200px;
  margin: 20px auto;
  margin-bottom: 0;
  height: 120px;

  .service_list_item {
    width: 580px;
    height: 120px;
    overflow: hidden;

    &:not(:last-child) {
      margin-right: 40px;
    }

    & > span {
      outline: none;
      text-decoration: none;

      & > img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.lingxi-nav_banner {
  position: relative;
  height: 370px;
  width: 320px;

  .nav_banner_item {
    height: 370px;
    overflow: hidden;
  }
}

.link {
  cursor: pointer;
}
