@import url('../../commonly.less');

.enterprises-left {
  flex: 1;
  padding-right: 15px;
  border-right: 1px dashed #ebecf0;

  .enterprises-logo {
    width: 48px;
    height: 48px;
    background-size: 100% 100%;
  }

  .enterprises-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px;
  }

  .enterprises-identification {
    display: flex;
    padding: 18px 0 20px;
  }

  .company-title {
    font-size: 16px;
    font-weight: bold;
    color: #303133;
  }
}

.enterprises-title {
  display: flex;
}

.company-img {
  width: 60px;
  height: 20px;
  margin-top: 3px;
}

.enterprises-title-left {
  display: flex;
  flex: 1;
}

.has-hover:hover {
  cursor: pointer;
  color: #00a98f;
  font-weight: bold;
}
