@import url('@/theme/style/common.less');

.container {
  .common_page_container();

  width: auto;
  padding-bottom: 24px;

  .horizontalWrap {
    display: flex;
    padding-top: 16px;
    .common_page_container();
  }

  .bannerWrap {
    margin: 0 16px;
    flex: 1;
    width: 0;
  }

  .quickNavWrap {
    width: 320px;
  }
}
