.statistic {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.statistic-title {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400px;
  color: #909399;
}
.statistic-wrap {
  flex-direction: row;
  align-items: center;
}
.statistic-content {
  font-size: 20px;
  font-weight: 500px;
}
.statistic-prefix {
  margin-right: 4px;
}
.statistic-suffix {
  margin-left: 4px;
}
