@import '@/styles/variables.scss';

.container{
  margin-top: 80px;
  padding: 16px 14px;
  :global{
    .at-input {
      flex: 1 !important;
      width: 100% !important;
      margin-left: 0 !important;
      background: #F4F4F4;
    }
  }
  .Text{
    color: #C0C4CC;
    font-size: 14px;
  }
  .title{
    font-size: 24px;
    font-weight: 400;

  }
  .fromFlex{
    @extend .fromItem;
    display: flex;
    justify-content: space-between;
    taro-text-core, Text{
      border-left: 1px solid $theme-border-light;
      padding-left: 14px;
      width: 70px;
      text-align: center;
      @extend .Text;
    }
    .placeholderText{
      @extend .Text;
    }
    Image ,taro-image-core {
      width: 16px;
      height: 16px;
    }
  }
  .fromItem{
    display: flex;
    align-items: center;
    margin-top: 16px;
    padding: 0 12px;
    background: #F4F4F4;
    border-radius: 8px;
    .code{
      font-size: 14px;
      width: 30px;
    }
    .placeholderText{
      @extend .Text;
    }
    Input{
      // margin-left: 32px;
      flex: 1;
      color: #C0C4CC;
      font-size: 14px;
    }
    .fill{
      padding: 0 10px;

      border-right: 1px solid $theme-border-light;
      display: flex;
      align-items: center;
      margin-right: 14px;
      Image ,taro-image-core {
        width: 15px;
        height: 16px;
      }
    }
  }
  .Tip{
    color: $theme-text-secondary;
    font-size: 12px;
    padding: 16px 0;
    // padding-top: 16px;
    // padding-bottom: 16p;
  }
  .fromfoot{
    margin-top: 40px;
    .btn{
      background-color: $theme-color;
      color: #fff;
      padding: 12px 0;
      font-size: 14px;
      text-align: center;
      border-radius: 5px;
      width: 100%;
    }
    .btnText{
      font-family: PingFangSC-Regular;
      font-size: 12px;
      margin-top: 20px;
      color: $theme-text-secondary;
    }
  }
}
