@import '@/styles/variables.scss';

.common-nav-card {
  box-sizing: border-box;
  background-color: $theme-surface;
  border: 1px solid $theme-border-light;
  box-shadow: $theme-shadow;
  border-radius: 8px;
  margin: 8px;
  padding: 6px 0;
}

.l {
  height: 186px;
}

.mm{
  height: 170px;
}

.ss{
  height: 90px;
}

.swiper-pagination {
  padding: 12px 0;

  .swiper-pagination-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-pagination-item {
      position: relative;
      width: 24px;
      height: 3px;
      background-color: $theme-border-light;
      border-radius: 3px;

      .actives {
        background-color: $theme-primary;
      }
    }
  }
}

.navList {
  display: flex;
  flex-wrap: wrap;

  .navItem {
    width: 20%;
    padding: 6px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .navIcon {
      width: 40px;
      height: 40px;
      margin-bottom: 8px;
    }

    .navText {
      color: $theme-text;
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      text-align: center;
    }
  }
}
