// science下的全局变量在此定义
// 企业商城科技模板
.theme-mall-science {
  font-size: 14px;
  --mall-main-color: #00a98f;
  --mall-main-color_opacity_2: #daf2e7;
  --mall-sub-color: #daf2e7;
  --mall-main-nav-hover-color: #00a98f;
  --category-content-bg: #ffffff;
  --category-content-title-text: #303133;
  --category-content-title-text-hover: #00a98f;
  --category_content-sub-title-text: #606266;
}

// 店铺科技类模板颜色配置
.theme-shop-science {
  font-size: 14px;
  --mall-main-color: #00a98f;
  --mall-sub-color: #daf2e7;
  --mall-main-nav-hover-color: #00a98f;
  --nav_active_bg: #008c65;
  --category-content-bg: #ffffff;
  --category-content-title-text: #303133;
  --category-content-title-text-hover: #00a98f;
  --category_content-sub-title-text: #606266;
}
