.couponImage {
  background-color: #3899ff;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .image {
    width: 18px;
    height: 18px;
  }
}

.platform {
  background-color: #13bc9d;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    color: #252d37;
    font-size: 14px;
    margin-bottom: 0px;
  }

  .id {
    color: #909399;
    font-size: 12px;
    margin-bottom: 0px;
  }
}

.denomination {
  font-size: 14px;
  color: #d32f2f;
}

.icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #91959b;
}

.time {
  display: inline-block;
  color: #252d37;
  font-size: 12px;
  margin-bottom: 4px;
  margin-left: 4px;
}

.belong {
  color: #909399;
  font-size: 12px;
}
