.standard-table-form {
  display: flex;
  padding-bottom: 16px;
  gap: 16px;

  &-render {
    flex: 1;
    display: flex;

    &.justify-start {
      justify-content: flex-start;
    }

    &.justify-end {
      justify-content: flex-end;
    }
  }
}
