.status_tag {
  display: flex;
  align-items: center;

  .circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 8px;
  }

  & > span {
    font-size: 12px;
    font-weight: 400;
    color: #303133;
  }
}
