.buttonRadio {
  background-color: #fff;
  &-btn {
    color: #91959b;
    font-size: 14px;
    position: relative;
    padding: 14px 16px;
    cursor: pointer;
  }
  &-btn-act {
    color: #252d37;
  }
  &-bar {
    position: absolute;
    width: 80%;
    height: 2px;
    left: 10%;
    bottom: 0;
    background-color: #00a98f;
  }
}
