.cardLayout {
  margin-bottom: 16px !important;
  min-height: 320px;
  .sourceLayout_wrap {
    // width: 176px;
    height: 64px;
    display: flex;
    padding: 16px;
    background: #fafbfc;
    border-radius: 4px;
  }
}
