.cell {
  display: flex;
  margin-bottom: 2em;
  .label {
    flex: 0 0 25%;
    color: #909399;
  }
  .labelSamll {
    flex: 0 0 8.33%; // 8.33% 为 2/24
    color: #909399;
  }
  .content {
    flex: 0 0 70%;
  }
  .longContent {
    flex: 0 0 92%;
    padding: 0 11px;
    word-break: break-all;
  }
}
