.video_box {
  width: 800px;
  overflow: hidden;
  margin-bottom: 8px;

  :global {
    .video-js {
      width: 800px;
      height: 450px;

      .vjs-big-play-button {
        border-radius: 50%;
        width: 66px;
        height: 66px;
        line-height: 66px;
        border: 1px solid #fff;
        left: 50%;
        top: 50%;
        margin-left: -33px;
        margin-top: -33px;
      }
    }
  }

  // video {
  //   width: 800px !important;
  //   height: auto !important;
  // }
}

.img_list {
  width: 790px;

  & > img {
    width: 790px;
    height: auto;
  }
}
