.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  .image {
    width: 32px;
    height: 32px;
    // background-color: red;
    overflow: hidden;
    border-radius: 4px;
    margin-right: 8px;
  }

  .templateName {
    font-size: 12px;
    color: #252d37;
  }

  .btn {
    margin-left: auto;
  }
}
