.commodity_category_list {
  width: 1200px;
  margin: 0 auto;

  &_item {
    margin-top: 16px;
    height: 288px;
    display: flex;
    background-color: #fff;

    .category_advert {
      position: relative;
      display: flex;

      &_img {
        width: 192px;
        height: 288px;
      }

      .category_wrap {
        position: absolute;
        padding: 20px 16px 20px 24px;
        color: #303133;

        .category_name {
          font-size: 20px;
          line-height: 20px;
          font-weight: 500;
        }

        .category_describe {
          font-size: 12px;
          line-height: 12px;
          margin-top: 16px;
        }

        .more_btn {
          width: 48px;
          height: 24px;
          background: rgb(0 0 0 / 6%);
          border-radius: 12px;
          margin-top: 16px;
          display: flex;
          align-items: center;
          cursor: pointer;
          justify-content: center;
        }
      }
    }

    .commodity_list {
      display: flex;
      flex-wrap: wrap;

      &_item {
        padding: 24px;
        width: 336px;
        height: 144px;
        display: flex;
        border: 1px solid #f7f8fa;
        cursor: pointer;
        color: #303133;

        .commodity_main_pic {
          margin-right: 16px;
        }

        .commodity_info {
          display: flex;
          flex-direction: column;

          .commodity_name {
            font-size: 14px;
            line-height: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            word-break: break-all;

            &:hover {
              color: var(--mall-main-color);
            }
          }

          .commodity_price {
            font-size: 14px;
            line-height: 14px;
            margin-top: 11px;
            margin-top: auto;

            .inquiry_price {
              color: #fff;
              background-color: var(--mall-main-color);
              font-size: 14px;
              height: 18px;
              line-height: 14px;
              padding: 2px 8px;
              display: inline-block;
            }
          }

          .commodity_store {
            font-size: 12px;
            color: #909399;
            margin-top: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
              color: #303133;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
