.line-subtitle {
  color: #d7d7d7;
  font-size: 12px;
  margin-left: 12px;
}

.hotspot-img-bottom {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.hotspot-img-wrap {
  position: relative;

  .hotspot-img-upload {
    position: relative;
    height: 175px;
    width: 550px;
    background-color: rgb(242, 242, 242);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
  }

  .hotspot-count {
    position: absolute;
    top: 8px;
    left: 8px;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 0 8px;
    background: rgba(51, 136, 255, 0.5);
    font-size: 12px;
    color: #fff;
    z-index: 4;
  }
}

.hotspot_area_modal {
  .header_content {
    color: #969799;
    display: flex;

    .step_content {
      margin-right: 10px;
      display: flex;
      align-items: center;

      .step_num {
        width: 24px;
        height: 24px;
        line-height: 24px;
        border: 1px solid #e5e5e5;
        border-radius: 13px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .step_text {
        margin: 0 10px;
      }
    }
  }

  .img_content {
    width: 100%;
    position: relative;
    margin-top: 16px;

    .hotspot_area_img {
      width: 100%;
    }

    .hotspot_drag_area {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 6;

      :global {
        .hotarea-rnd {
          position: relative;
          z-index: 1;
          border: 1px solid #155bd4;
          background: rgba(21, 91, 212, 0.5);
          font-size: 12px;
          color: #fff;
        }
      }

      .transform_box {
        display: inline-block;
        transition: translate 5ms;

        &:hover {
          .hotarea_close {
            display: block;
          }
        }
      }

      .hotarea_inner {
        height: 100%;
        width: 100%;
        cursor: move;

        &:hover {
          .hotarea_close {
            display: block;
          }
        }

        .hotarea {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;

          .hotarea_text {
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 4px;
            word-break: break-all;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
          }
        }

        .hotarea_close {
          position: absolute;
          top: -8px;
          right: -8px;
          width: 16px;
          height: 16px;
          line-height: 15px;
          border-radius: 9px;
          color: #fff;
          text-align: center;
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.5);
          display: none;
          z-index: 9;
        }

        .hotarea_edit {
          position: absolute;
          bottom: 0;
          width: 32px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          background: rgba(0, 0, 0, 0.5);
          z-index: 9;
          cursor: pointer;
        }
      }
    }
  }
}
