.container {
  padding: 8px;
  background-color: #f5f6f7;
  min-height: 100vh;
}

.msgHeader {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 16px 30px;
}

.msgBox {
  display: flex;
  align-items: center;
  &:first {
    border-right: 1px solid #f5f6f7;
  }
}

.msgCircle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 8px;
}

.msgLeft {
  background-color: #00a98f;
}
.msgRight {
  background-color: #4787f0;
}

.msgList {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  margin-top: 24px;
}

.msgItem {
  border-bottom: 1px solid #f5f6f7;
  display: flex;
  padding: 8px 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #00a98f;
  margin-right: 8px;
}

.msgContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
}
.title {
  font-size: 14px;
  font-weight: 700;
  margin-right: 8px;
}
.tag {
  flex: 1;
  font-size: 12px;
}
.time {
  font-size: 12px;
  color: #909399;
}

.tagText {
  padding: 1px;
  border-radius: 4px;
  background: #ebf9f6;
  color: #00a98f;
}

.message {
  font-size: 12px;
  color: #91959b;
}

.pingtai {
  padding: 1px;
  border-radius: 4px;
  background: #ebf9f6;
  color: #00a98f;
}

.shangjia {
  padding: 1px;
  border-radius: 4px;
  background: #edeeef;
  color: #007bfc;
}
