@import '~antd/es/style/themes/default.less';

.category-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  &-item {
    width: 366px;
    margin-right: @margin-md;
    margin-bottom: @margin-md;
    padding: @padding-sm @padding-sm @padding-xss;
    background: #ffffff;
    border: 1px solid #f4f5f7;

    :global {
      .ant-descriptions-item {
        padding-bottom: @padding-xs;
      }
    }
  }
}
