@import url('@linkseeks/ui/src/styles/theme/variables.less');

.form {
  :global {
    .ant-table-thead {
      .ant-table-cell {
        background-color: #f7f8fa;
        color: #909399;
      }
    }
    .ant-table-cell {
      padding: 12px 12px;
    }
    .ant-btn {
      padding: 2px 0px;
    }
    .customizeFileContainer {
      margin-bottom: 0;
      color: @color-primary;
    }
  }
}
