@import '@/styles/variables.scss';

.AccountDetail{
  height: 100vh;
  background: $color-bg-base;
  .warp {
    display: flex;
    padding: 10px;
    flex-direction: column;

    .head {
      height: 188px;
      border-radius: 8px;
      // background-image: linear-gradient(134deg, #3877FF 0%, #3877FF 100%);
			background: linear-gradient(45deg, $color-brand 0%, $color-brand-light 98%);

      &-title {
        display: flex;
        position: relative;
        padding: 10px;
        justify-content: space-between;
        // background-image: linear-gradient(82deg, rgba(0,0,0,0.08) 0%, rgba(255,255,255,0.00) 100%);
				background: linear-gradient(45deg, $color-brand 0%, $color-brand-light 98%);
				border-radius: 8px 8px 0px 0px;
       &-left{
        color: #fff;
        font-size: 12px;
       }
       &-right{
         position: absolute;
         right: 0;
         top: 0;
         background: rgba(0,0,0,0.10);
         font-size: 12px;
         padding: 10px 15px;
        color: #fff;
        border-radius:0px 0px 0px 10px ;
       }
      }
    }
    .amountContent{
      margin-top: 30px;
      display: flex;
      align-items: center;
      padding: 0 8px;
      justify-content: space-between;
      .leftContent{
        text-align: left;
        .leftContentTitle{
          color: #fff;
          padding-left: 6px;
          font-size: 12px;
        }
        .leftContentAmount{
          color: #fff;
          font-size: 32px;
        }
      }
      .chargeAction{
        width: 80px;
        height: 30px;
        line-height: 30px;
        color: $color-brand;
        background-color: $color-card-bg;
        border-radius: 18px;
        text-align: center;
        font-size: 14px;

      }
    }
    .amountBottom{
      margin-top: 19px;
      padding: 0 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .bottomCol{
        .bottomText{
          display: flex;
          align-items: center;
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #FFFFFF;
          Image ,taro-image-core {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
    .List {
      margin-top: 8px;
      flex: 1;
      display: flex;
      flex-direction: column;
			border-radius: 8px;
			background: #fff;
      &-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 7px;
        border-bottom:1px solid $color-card-border;
        //background: #fff;
        &-left{
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: 500;
          flex: 1;

          &-icon{
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
        }

        .rightAllText {
          font-size: 14px;
          color: $color-text-placeholder;
          margin-right: 8px;
        }
        .rightIcon{
          width: 10px;
          height: 15px;
        }
      }
    }
  }
  .record-scrollView {
    .recordItem {
      display: flex;
      padding: 12px;
      flex-direction: row;
      background-color: $color-card-bg;
    }

    .recordIcon {
      width: 40px;
      height: 40px;
    }

    .recordInfoWrap {
      display: flex;
      flex: 1;
      margin-left: 8px;
      flex-direction: column;
    }

    .recordLine {
      display: flex;
      flex-direction: row;
      margin-bottom: 2px;
    }

    .recordLine_tradeType {
      flex: 1;
      font-size: 14px;
      color: $color-text-base;
    }

    .recordLine_chgAmount {
      font-size: 16px;
      color: $color-text-base;
    }

    .recordLine_changeTime {
      font-size: 12px;
      color: $color-text-placeholder;
      flex: 1;
    }

    .recordLine_type {
      font-size: 12px;
      color: $color-text-secondary;
    }
  }
}
