.recommend {
  &_commodity_list {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;

    &_item {
      position: relative;
      width: 50%;
      padding: 4px;
    }
  }

  &_shop_list {
    display: flex;
    flex-flow: column wrap;
    padding: 8px;

    &_item {
      position: relative;
    }
  }

  &_brand_list {
    display: flex;
    flex-flow: column wrap;
    padding: 8px;

    &_item {
      position: relative;
    }
  }

  &_information_list {
    display: flex;
    flex-flow: column wrap;
    padding: 8px;

    &_item {
      position: relative;
    }
  }
}
