.visible {
  display: none;
}

.container {
  padding: 12px 0px 0 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .item {
    flex: 50%;
    padding-right: 8px;
    margin-bottom: 12px;

    .couponItem {
      height: 84px;
    }
  }
}
