.wrap {
  :global {
    .ant-modal-body {
      padding: 0px;
      .ant-tabs-nav {
        width: 144px;
        .ant-tabs-tab {
          padding: 15px 24px;
        }
        .ant-tabs-tab + .ant-tabs-tab {
          margin: 0px;
        }
        .ant-tabs-ink-bar {
          left: 0;
        }
      }
      .ant-tabs-tabpane {
        padding: 24px;
      }
    }
  }
}
