@import '~antd/es/style/themes/default.less';

.modifies-evaluator {
  &-control {
    cursor: pointer;
  }

  &-icon {
    margin-right: @margin-xs;
  }

  &-placeholder {
    font-size: @font-size-sm;
    color: @text-color-secondary;
  }
}