@import '~antd/es/style/themes/default.less';

.monthly-statement {
  :global {
    .ant-descriptions-item-container {
      align-items: center;
    }
  }

  .amount {
    font-size: @font-size-lg;
    font-weight: 500;

    &-plus {
      color: @error-color;
      font-size: 24px;
    }
  }

  .tip {
    padding: @padding-xss @padding-xs;
    color: @text-color-secondary;
    background-color: @background-color-light;
    border-radius: 4px;
  }
}
