.billMaterial {
  :global {
    .ant-table-tbody > tr.ant-table-row:hover > td {
      background: #fff;
      border-top: 1px solid #00a98f;
      border-bottom: 1px solid #00a98f;
      &:first-child {
        border-left: 1px solid #00a98f;
      }
      &:last-child {
        border-right: 1px solid #00a98f;
      }
    }
    .ant-table-expanded-row td {
      padding: 0;
    }
  }
}

.childrenWrap {
  background-color: #fff;
  .childrenTitle {
    height: 100%;
    padding: 12px 0;
    color: #00a98f;
    background: linear-gradient(to left, #ffffff, #daf2e7);
    p {
      height: 14px;
      margin: 0;
      padding-left: 16px;
      font-size: 12px;
      line-height: 14px;
    }
  }
  .childrenContent {
    margin-top: 8px;
    p {
      margin: 0;
      span {
        height: 12px;
        padding-right: 10px;
        color: #909399;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}
