.market-right-content-item {
  display: flex;
  width: 386px;
  margin-bottom: 24px;
  margin-right: 24px;
  flex-shrink: 0;
  position: relative;
}

.market-right-content-item:nth-child(2n + 0) {
  margin-right: 0;
}

.market-right-content-item:hover .market-right-content-second-title {
  color: #00a98f;
}

.market-right-content-title {
  width: 80px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background: linear-gradient(135deg, #eff4fb 0%, #dbe5f5 100%);
  color: #6882b7;
  background-size: cover;
}

.market-right-content {
  padding-left: 8px;
}

.market-right-content-second-title {
  color: #303133;
  font-size: 14px;
  margin-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 300px;
}

.market-right-content-second-time {
  font-size: 12px;
  color: #909399;
}
