.scoring-indicator {

  &-title {
    padding-bottom: 16px;
    color: #252D37;
    font-size: 14px;
    font-weight: 500;
  }

  :global {

    .ant-input-number-input {
      text-align: center;
    }
  }
}
