.repayment {
  padding: 56px 24px 33px;
  display: flex;
  align-items: center;
  background: #FAFBFC;
  border-radius: 4px;
  border: 1px solid #EBECF0;

  &-left {
    flex: 1;
  }

  &-right {
    flex-shrink: 0;
  }

  &-end {
    margin-top: 32px;
  }
  
  &-time {
    line-height: 22px;
    margin-right: 8px;
    font-weight: 400;
    color: #6B778C;
  }
}

.statistic {
  &-title {
    margin-bottom: 28px;
    line-height: 22px;
    font-weight: 400;
    color: #6B778C;
  }

  &-amount {
    line-height: 40px;
    font-size: 32px;
    font-weight: 500;
    color: #172B4D;
  }
}

.badgeWrap {
  &-title {
    color: #6B778C;
  }

  &-content {
    line-height: 22px;
    font-weight: 500;
    color: #172B4D;
  }
}

.foot {
  padding: 34px 25px 8px;
  border-top: 1px solid #F4F5F7;
}