@import '@/styles/variables.scss';

.as-products-list {
  display: flex;
  flex-direction: row;
  padding-left: $spacing-h-lg;
  padding-right: $spacing-h-lg;

  &-mult {
    padding-left: 0;
    padding-right: 0;
  }

  &-item {
    &-mult {
      display: flex;
      margin-right: $spacing-h-md;
      flex-direction: column;

      &-img-wrap {
        width: 64px;
        height: 64px;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
      }

      &-img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &-desc {
        margin-top: $spacing-v-sm;
        font-size: $font-size-sm;
        font-weight: 400;
        text-align: center;
        color: $color-black-2;
      }
    }
  }
}