.mian {
  :global {
    .ant-upload {
      width: 100%;
    }
  }
  .RadioMian {
    display: flex;
    .RadioItem {
      border-radius: 4px;
      background: #f5f6f7;
      padding: 5px 10px;
      margin-right: 10px;
    }
    .Select {
      background: rgba(0, 169, 143, 0.04);
      border: 1px solid #00a98f;
    }
  }
}

.childrenWrap {
  background-color: #fff;
  .childrenTitle {
    height: 100%;
    background: linear-gradient(to left, #ffffff, #daf2e7);
    color: #00a98f;
    p {
      padding-left: 16px;
      margin: 0;
      font-size: 12px;
      height: 14px;
      line-height: 14px;
    }
    padding: 12px 0;
  }
  .childrenContent {
    margin-top: 8px;
    p {
      margin: 0;
      span {
        height: 12px;
        font-size: 12px;
        font-weight: 400;
        color: #909399;
        line-height: 12px;
        padding-right: 10px;
      }
    }
  }
}

.restContainer {
  margin-top: 24px;
  :global {
    .ant-table-expanded-row td {
      padding: 0;
    }
  }
}
