.title {
  display: inline-block;
  width: 122px;
  font-weight: 400;
}

.amount {
  font-size: 24px;
  font-weight: 500;
  color: #172B4D;
}

.amount1 {
  font-size: 16px;
}

.amount2 {
  font-size: 16px;
  color: #E63F3B;
}

.payContainer {
  margin: 90px 0;
  text-align: center;

  .title {
    font-size: 14px;
    font-weight: 400;
    color: #6B778C;
    margin-bottom: 24px;
  }

  .inputBox {
    position: relative;
    width: 336px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    .codeItem {
      width: 48px;
      height: 48px;
      line-height: 0.5;
      text-align: center;
      background: #FFFFFF;
      border: 1px solid #EBECF0;
      font-size: 80px;
    }

    .codeInput {
      height: 48px;
      position: absolute;
      outline: none;
      color: transparent;
      caret-color: #EBECF0;
      font-size: 28px;
      padding: 0 14px;
      letter-spacing: 48px;
      width: 336px;
      border: none;
      background: none;
      -webkit-appearance: none;

      &:focus {
        border: none !important;
        box-shadow: 0 0 0 0 #fff;
      }

      &::-webkit-input-safebox-button {
        display: none;
      }
    }
  }
}
