.header-content {
  display: flex;
  align-items: center;

  span {
    margin-right: 15%;
    font-size: 14px;
    width: 300px;
  }
}

.header-container {
  display: flex;
  flex: 1;
}

.head-icon {
  margin-left: 16px;
}
