@import '~antd/es/style/themes/default.less';

.tipWrap {
  .tip {
    margin-bottom: 8px;
    line-height: 20px;
    font-weight: 400;
    color: #6B778C;

    > p {
      margin-bottom: 8px;
    }
  }

  .quotes {
    margin-bottom: 8px;
  }

  .content {
    font-weight: 400;
    color: #172B4D;
    line-height: 22px;

    > p {
      margin-bottom: 0;
    }
  }
}

.success {
  text-align: center;

  .icon {
    margin-bottom: 32px;
    font-size: 64px;
    color: @primary-color;
  }

  .tip {
    margin-bottom: 56px;
    line-height: 22px;
    font-weight: 500;
    color: #172B4D;
  }
}