@import '@/styles/variables.scss';
.mine-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $theme-page-bg;
  &-layoutRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 36px;
  }
  &-scan {
    width: 24px;
    height: 24px;
  }
  &-pullRefresh {
    background-color: $theme-surface;
  }
  &-scrollView {
    background-color: $theme-page-bg;
    height: 100%;

  }
  &-alwaysUse {
    display: flex;
    flex-direction: column;
    background-color: $theme-page-bg;
  }
  &-setting {
    display: flex;
    flex-direction: column;
    background-color: $theme-page-bg;
    margin-bottom: 16px;
  }
  &-logout {
    padding: 0 8px;
    margin-bottom: 40;
    display: flex;
    flex-direction: column;
  }
  &-btn {
    background-color: $theme-color;
  }
  &-logoutText {
    color: #fff;
  }
}
