.cardLayout {
  margin-bottom: 16px !important;
  .dataLayout_wrap {
    padding: 8px 16px;
    background-color: #f5f6f7;
    border-radius: 4px;
    .dataLayout_wran {
      color: #91959b;
      margin-bottom: 0;
      padding: 8px 0px 7px;
    }
    .dataLayout_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .dataLayout_num {
        font-size: 20px;
        color: #1f2c3d;
        margin-bottom: 0;
      }
      .dataLayout_value {
        width: 47px;
        height: 16px;
        color: #ef3346;
        background-color: #fff0f2;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        .info_icon_style {
          font-size: 10px;
          color: #ef3346;
        }
      }
    }
  }
}
