.repayment {
  padding: 56px 24px 33px;
  display: flex;
  align-items: center;
  background: #8777d9;
  border-radius: 4px;
  border: 1px solid #8777d9;
  color: #fff;
  &-left {
    flex: 1;
  }

  &-right {
    flex-shrink: 0;
  }

  &-end {
    margin-top: 32px;
  }

  &-action {
    margin-left: 24px;
  }

  &-time {
    line-height: 22px;
    margin-right: 8px;
    font-weight: 400;
  }
}

.statistic {
  &-title {
    margin-bottom: 28px;
    line-height: 22px;
    font-weight: 400;
  }
  &-amount {
    line-height: 40px;
    font-size: 32px;
    font-weight: 500;
  }
  &-input {
    display: block !important;
    width: 180px !important;
    line-height: 40px !important;
    padding: 8px 0 !important;
    font-size: 32px !important;
    font-weight: 500 !important;
    color: #fff !important;
    background: none !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-image: initial !important;
    outline: none !important;
    border-bottom: 1px solid #fff !important;
  }
}

.infoRight {
  margin: 35px 0;
  .rightTitle {
    height: 36px;
    font-weight: 400;
    color: #6b778c;
    line-height: 36px;
  }
  .rightInfo {
    height: 36px;
    font-weight: 500;
    color: #303133;
    line-height: 36px;
  }
}

.repayinfo {
  background-color: #4279df;
}

// 账户详情右侧操作按钮
.rightActions {
  display: flex;
  margin-top: 70px;

  .rightAction {
    width: 88px;
    height: 40px;

    &:last-child {
      background-color: #6b778c;
      color: #fff;
      margin-left: 24px;
    }
  }
}
