.uploadList {
  // width: 575px;
  .uploadListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px;
    margin-bottom: 16px;
    background-color: #ecf7ff;
    border-radius: 4px;

    .uploadInfo {
      flex: 1;
      width: 0;
    }
  }
}
