@import '@/styles/variables.scss';
@import '@/styles/common.scss';

.custom-input {
  padding: 0;
  margin: 0;
  
  .at-input {
    &__input {
      text-align: right;
      padding: $spacing-v-sm $spacing-h-md + 2;
      font-size: 14px;
    }
  }

  &-text {
    text-align: right;
    font-size: $font-size-base;
    color: $color-black-1;
    @include text-overflow();
  }
}