@import url('@/theme/style/common.less');

.filter_category {
  padding-bottom: 16px;
  max-height: 340px;
  overflow: hidden auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(48 49 51 / 24%);
  }

  &::-webkit-scrollbar-track {
    background: rgb(48 49 51 / 8%);
  }

  .sub_category_title {
    position: relative;
    color: #303133;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    width: 0;

    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: #c0c4cc;
      border-radius: 50%;
      top: 0;
      bottom: 0;
      margin: auto 0;
      left: -16px;
    }
  }

  .ant-tree {
    font-size: 12px;
  }

  .ant-tree-title {
    a {
      color: #303133;
    }
  }

  .ant-tree-switcher {
    line-height: 30px;

    .ant-tree-switcher-icon {
      color: #c0c4cc;
    }
  }

  .ant-tree .ant-tree-treenode {
    background: none !important;
    border: none !important;
    margin-left: -6px;
    width: 100%;
  }

  .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background: none !important;

    .sub_category_title {
      color: @mainColor;

      &::before {
        background-color: @mainColor;
      }
    }

    .ant-tree-title {
      color: @mainColor;

      & > a {
        color: @mainColor;

        &::before {
          background-color: @mainColor;
        }
      }
    }
  }

  .ant-tree-treenode.ant-tree-treenode-switcher-close.ant-tree-treenode-selected {
    // background-color: #F4F5F7 !important;
    background: none !important;
  }

  .ant-tree .ant-tree-node-content-wrapper {
    line-height: 32px;
    flex: 1;
    width: 0;
    display: flex;

    &:hover {
      background: none;
    }

    .ant-tree-title {
      flex: 1;
      display: flex;
      width: 0;
    }
  }

  .ant-tree-treenode.ant-tree-treenode-switcher-open.ant-tree-treenode-selected {
    // background-color: #F4F5F7 !important;
    background: none !important;
  }

  .ant-tree-treenode {
    height: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    transition: all 0.3s;

    &:hover {
      background-color: #f4f5f7;
    }
  }
}

.filter_style {
  padding: 15px 20px 8px 0;

  .ant-checkbox {
    position: relative;
    top: 3px;
  }

  .ant-checkbox-wrapper {
    font-size: 12px;
  }

  .ant-checkbox-checked::after {
    border: 1px solid @mainColor;
  }

  .ant-checkbox-input {
    &:active,
    &:hover,
    &:focus {
      + .ant-checkbox-inner {
        border-color: @mainColor;
      }
    }
  }

  .ant-checkbox-group-item {
    font-size: 12px;
    margin-bottom: 12px;
    width: 100%;

    &:hover,
    &:active {
      .ant-checkbox-inner {
        border-color: @mainColor;
      }
    }
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: @mainColor;
    border-color: @mainColor;
  }
}
