@import '@/styles/variables.scss';


.brandList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -$spacing-h-md;
  background-color: #fff;

  .brandItem   {
    flex-basis: 25%;
    margin-bottom: $spacing-h-md;
  }

  .brand {
    display: flex;
    flex-direction: column;
    align-items: center;

    .imageContainer {
      width: 64px * $hd;
      height: 36px * $hd;
      margin-bottom: $spacing-v-md;

      .image {
        width: 100%;
        height: 100%;
      }
    }
    .name {
      color: #606266;
      font-size: $font-size-sm;
      text-align: center;
    }
  }
}
