/**
* 在小程序中， ios必须是https的引入方式，
* 并且oss图片response必须是header为 * 跨域请求头
*/
@font-face {
  font-family: "iconfont";
  src: url('../../common/iconfont.woff') format('woff');
}
.icon {
  display: inline-block;
  font: {
    family: iconfont;
    style: normal;
    weight: 400;
    variant: normal;
  }

  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  // margin-top: -2px; // Hack
}

.icon-Activity:before {
  content: "\e179";
}
.icon-Chart:before {
  content: "\e17a";
}
.icon-PieChartFill:before {
  content: "\e17b";
}
.icon-PieChart:before {
  content: "\e17c";
}
.icon-TrendingDown:before {
  content: "\e17d";
}
.icon-TrendingUp:before {
  content: "\e17e";
}
.icon-ArrowCircleDown:before {
  content: "\e17f";
}
.icon-ArrowCircleLeft:before {
  content: "\e180";
}
.icon-ArrowCircleRight:before {
  content: "\e181";
}
.icon-ArrowCircleUp:before {
  content: "\e182";
}
.icon-ArrowHeadRight:before {
  content: "\e183";
}
.icon-ArrowLeftFill:before {
  content: "\e184";
}
.icon-ArrowSort:before {
  content: "\e185";
}
.icon-ArrowUpFill:before {
  content: "\e186";
}
.icon-ArrowDown:before {
  content: "\e187";
}
.icon-ArrowHeadLeft:before {
  content: "\e188";
}
.icon-ChevronDownFill:before {
  content: "\e189";
}
.icon-CircleDownFill:before {
  content: "\e18a";
}
.icon-ChevronRight:before {
  content: "\e18b";
}
.icon-ChevronLeft:before {
  content: "\e18c";
}
.icon-ArrowDownFill:before {
  content: "\e18d";
}
.icon-ArrowRightFill:before {
  content: "\e18e";
}
.icon-ChevronDown:before {
  content: "\e18f";
}
.icon-ArrowLeft:before {
  content: "\e190";
}
.icon-ArrowRight:before {
  content: "\e191";
}
.icon-ChevronUpFill:before {
  content: "\e192";
}
.icon-ArrowUp:before {
  content: "\e193";
}
.icon-ChevronUp:before {
  content: "\e194";
}
.icon-CircleLeftFill:before {
  content: "\e195";
}
.icon-DownFill:before {
  content: "\e196";
}
.icon-CircleUpFill:before {
  content: "\e197";
}
.icon-CircleRightFill:before {
  content: "\e198";
}
.icon-Refresh:before {
  content: "\e199";
}
.icon-Exchange:before {
  content: "\e19a";
}
.icon-UpFill:before {
  content: "\e19b";
}
.icon-ArchiveFill-1:before {
  content: "\e1e9";
}
.icon-Archive-1:before {
  content: "\e1ea";
}
.icon-ConfirmOrder-1:before {
  content: "\e1eb";
}
.icon-ArticleList-1:before {
  content: "\e1ec";
}
.icon-ContractFill-1:before {
  content: "\e1ed";
}
.icon-Description-1:before {
  content: "\e1ee";
}
.icon-DescriptionFill-1:before {
  content: "\e1ef";
}
.icon-Contract-1:before {
  content: "\e1f0";
}
.icon-ArticleListFill-1:before {
  content: "\e1f1";
}
.icon-EmailFill-1:before {
  content: "\e1f2";
}
.icon-Email-1:before {
  content: "\e1f3";
}
.icon-FileAdd-1:before {
  content: "\e1f4";
}
.icon-Envelope-1:before {
  content: "\e1f5";
}
.icon-FileFill-1:before {
  content: "\e1f6";
}
.icon-Excel-1:before {
  content: "\e1f7";
}
.icon-FileAddFill-1:before {
  content: "\e1f8";
}
.icon-FolderAdd-1:before {
  content: "\e1f9";
}
.icon-FileRemoveFill-1:before {
  content: "\e1fa";
}
.icon-FolderAddFill-1:before {
  content: "\e1fb";
}
.icon-FolderRemove-1:before {
  content: "\e1fc";
}
.icon-FolderRemoveFill-1:before {
  content: "\e1fd";
}
.icon-Invoice-1:before {
  content: "\e1fe";
}
.icon-FolderFill-1:before {
  content: "\e1ff";
}
.icon-Folder-1:before {
  content: "\e200";
}
.icon-OrderFill-1:before {
  content: "\e201";
}
.icon-ManageSearch-1:before {
  content: "\e202";
}
.icon-ManageReview-1:before {
  content: "\e203";
}
.icon-Page-1:before {
  content: "\e204";
}
.icon-Order-1:before {
  content: "\e205";
}
.icon-PlusSquare-1:before {
  content: "\e206";
}
.icon-PlusSquareFill-1:before {
  content: "\e207";
}
.icon-Stop-1:before {
  content: "\e208";
}
.icon-EditCircleFill:before {
  content: "\e209";
}
.icon-BookmarkFill:before {
  content: "\e20a";
}
.icon-Bookmark:before {
  content: "\e20b";
}
.icon-Clear:before {
  content: "\e20c";
}
.icon-CopyFill:before {
  content: "\e20d";
}
.icon-EyeOff:before {
  content: "\e20e";
}
.icon-CropFill:before {
  content: "\e20f";
}
.icon-Save:before {
  content: "\e210";
}
.icon-Repair:before {
  content: "\e211";
}
.icon-Copy:before {
  content: "\e212";
}
.icon-Power:before {
  content: "\e213";
}
.icon-EyeFill:before {
  content: "\e214";
}
.icon-EyeOffFill:before {
  content: "\e215";
}
.icon-RepairFill:before {
  content: "\e216";
}
.icon-SearchFill:before {
  content: "\e217";
}
.icon-EditFill:before {
  content: "\e218";
}
.icon-Form:before {
  content: "\e219";
}
.icon-FilterFill:before {
  content: "\e21a";
}
.icon-Eye:before {
  content: "\e21b";
}
.icon-Filter:before {
  content: "\e21c";
}
.icon-SaveFill:before {
  content: "\e21d";
}
.icon-Edit:before {
  content: "\e21e";
}
.icon-Crop:before {
  content: "\e21f";
}
.icon-Expand:before {
  content: "\e220";
}
.icon-Search:before {
  content: "\e221";
}
.icon-SettingFill:before {
  content: "\e222";
}
.icon-Share:before {
  content: "\e223";
}
.icon-Setting:before {
  content: "\e224";
}
.icon-Trash:before {
  content: "\e225";
}
.icon-TrashFill:before {
  content: "\e226";
}
.icon-UserAccount:before {
  content: "\e227";
}
.icon-UserCrowd:before {
  content: "\e228";
}
.icon-UserAdd:before {
  content: "\e229";
}
.icon-UserFill:before {
  content: "\e22a";
}
.icon-UserVerified:before {
  content: "\e22b";
}
.icon-UserVerifiedFill:before {
  content: "\e22c";
}
.icon-User:before {
  content: "\e22d";
}
.icon-BookOpenFill:before {
  content: "\e22e";
}
.icon-BankFill:before {
  content: "\e22f";
}
.icon-BookOpen:before {
  content: "\e230";
}
.icon-At:before {
  content: "\e231";
}
.icon-Brand:before {
  content: "\e232";
}
.icon-ButtonOnFill:before {
  content: "\e233";
}
.icon-CategoryFill:before {
  content: "\e234";
}
.icon-ButtonOn:before {
  content: "\e235";
}
.icon-Category:before {
  content: "\e236";
}
.icon-Close:before {
  content: "\e237";
}
.icon-Drag:before {
  content: "\e238";
}
.icon-Home:before {
  content: "\e239";
}
.icon-FlagFill:before {
  content: "\e23a";
}
.icon-FlashFill:before {
  content: "\e23b";
}
.icon-Flash:before {
  content: "\e23c";
}
.icon-FurnishFill:before {
  content: "\e23d";
}
.icon-Flag:before {
  content: "\e23f";
}
.icon-Gift:before {
  content: "\e240";
}
.icon-Globe:before {
  content: "\e241";
}
.icon-GiftFill:before {
  content: "\e242";
}
.icon-FullScreen:before {
  content: "\e243";
}
.icon-Layout:before {
  content: "\e244";
}
.icon-Date:before {
  content: "\e245";
}
.icon-LayoutFill:before {
  content: "\e246";
}
.icon-GlobeFill:before {
  content: "\e247";
}
.icon-Compass:before {
  content: "\e248";
}
.icon-LinkFill:before {
  content: "\e249";
}
.icon-Link:before {
  content: "\e24a";
}
.icon-LiquidationFill:before {
  content: "\e24b";
}
.icon-Liquidation:before {
  content: "\e24c";
}
.icon-List:before {
  content: "\e24d";
}
.icon-Menu:before {
  content: "\e24e";
}
.icon-Loader:before {
  content: "\e24f";
}
.icon-MinusSquareFill:before {
  content: "\e250";
}
.icon-MinusSquare:before {
  content: "\e251";
}
.icon-Minus:before {
  content: "\e252";
}
.icon-MoreHorizontal:before {
  content: "\e253";
}
.icon-More:before {
  content: "\e254";
}
.icon-Navigation:before {
  content: "\e255";
}
.icon-PaperPlane:before {
  content: "\e256";
}
.icon-Plus:before {
  content: "\e257";
}
.icon-Percent:before {
  content: "\e258";
}
.icon-Product:before {
  content: "\e259";
}
.icon-Sort:before {
  content: "\e25a";
}
.icon-QRCode:before {
  content: "\e25b";
}
.icon-RepairApplication:before {
  content: "\e25c";
}
.icon-Right:before {
  content: "\e25d";
}
.icon-Scan:before {
  content: "\e25e";
}
.icon-SetUp:before {
  content: "\e25f";
}
.icon-Timer:before {
  content: "\e260";
}
.icon-ShieldFill:before {
  content: "\e262";
}
.icon-Shield:before {
  content: "\e263";
}
.icon-Specific:before {
  content: "\e264";
}
.icon-Stretch:before {
  content: "\e265";
}
.icon-TimerFill:before {
  content: "\e266";
}
.icon-UnLink:before {
  content: "\e267";
}
.icon-Verification:before {
  content: "\e268";
}
.icon-Briefcase:before {
  content: "\e269";
}
.icon-Article:before {
  content: "\e26a";
}
.icon-AfterSales:before {
  content: "\e26b";
}
.icon-Channel:before {
  content: "\e26c";
}
.icon-Bidding:before {
  content: "\e26d";
}
.icon-Certificate:before {
  content: "\e26e";
}
.icon-CommodityInformation:before {
  content: "\e26f";
}
.icon-CommodityInquiry:before {
  content: "\e270";
}
.icon-CommodityReview:before {
  content: "\e271";
}
.icon-HardDriveFill:before {
  content: "\e272";
}
.icon-Commodity:before {
  content: "\e273";
}
.icon-logisticsInquiry:before {
  content: "\e274";
}
.icon-Logistics:before {
  content: "\e275";
}
.icon-Cube:before {
  content: "\e276";
}
.icon-CubeFill:before {
  content: "\e277";
}
.icon-FireFill:before {
  content: "\e278";
}
.icon-logisticsDetails:before {
  content: "\e279";
}
.icon-Fire:before {
  content: "\e27a";
}
.icon-Coupon:before {
  content: "\e27b";
}
.icon-MapFill:before {
  content: "\e27c";
}
.icon-ReceiveFill:before {
  content: "\e27d";
}
.icon-Offer:before {
  content: "\e27e";
}
.icon-Inquiry:before {
  content: "\e27f";
}
.icon-Pending:before {
  content: "\e280";
}
.icon-LayersFill:before {
  content: "\e281";
}
.icon-logisticsStatistics:before {
  content: "\e282";
}
.icon-Member:before {
  content: "\e283";
}
.icon-ProductExchange:before {
  content: "\e284";
}
.icon-Company:before {
  content: "\e285";
}
.icon-Determine:before {
  content: "\e286";
}
.icon-Marketing:before {
  content: "\e287";
}
.icon-LogisticsFill:before {
  content: "\e288";
}
.icon-ProductStatistics:before {
  content: "\e289";
}
.icon-Dispatch:before {
  content: "\e28a";
}
.icon-Layers:before {
  content: "\e28b";
}
.icon-ProductDetails:before {
  content: "\e28c";
}
.icon-ProductInquire:before {
  content: "\e28d";
}
.icon-PendingFill:before {
  content: "\e28e";
}
.icon-RedEnvelope:before {
  content: "\e28f";
}
.icon-Refund:before {
  content: "\e290";
}
.icon-SendFill:before {
  content: "\e291";
}
.icon-Shop:before {
  content: "\e292";
}
.icon-ShoppingFill:before {
  content: "\e293";
}
.icon-Settlement:before {
  content: "\e294";
}
.icon-ShoppingCart:before {
  content: "\e295";
}
.icon-Shopping:before {
  content: "\e296";
}
.icon-ShoppingCartFill:before {
  content: "\e297";
}
.icon-Storefront:before {
  content: "\e298";
}
.icon-Supplier:before {
  content: "\e299";
}
.icon-SolicitationFill:before {
  content: "\e29a";
}
.icon-Statistics:before {
  content: "\e29b";
}
.icon-Trading:before {
  content: "\e29c";
}
.icon-Video:before {
  content: "\e29d";
}
.icon-AddressFill:before {
  content: "\e29e";
}
.icon-Address:before {
  content: "\e29f";
}
.icon-Attach:before {
  content: "\e2a0";
}
.icon-BellFill:before {
  content: "\e2a1";
}
.icon-BrowserFill:before {
  content: "\e2a2";
}
.icon-Bell:before {
  content: "\e2a3";
}
.icon-Chat:before {
  content: "\e2a4";
}
.icon-CloudDownloadFill:before {
  content: "\e2a5";
}
.icon-Camera:before {
  content: "\e2a6";
}
.icon-CameraFill:before {
  content: "\e2a7";
}
.icon-CloudUpload:before {
  content: "\e2a8";
}
.icon-ChatFill:before {
  content: "\e2a9";
}
.icon-Browser:before {
  content: "\e2aa";
}
.icon-CloudDownload:before {
  content: "\e2ab";
}
.icon-EmotionFill:before {
  content: "\e2ac";
}
.icon-Emotion:before {
  content: "\e2ad";
}
.icon-FileDownload:before {
  content: "\e2ae";
}
.icon-Image:before {
  content: "\e2af";
}
.icon-FileUpload:before {
  content: "\e2b0";
}
.icon-Message:before {
  content: "\e2b1";
}
.icon-MicFill:before {
  content: "\e2b2";
}
.icon-MessageFill:before {
  content: "\e2b3";
}
.icon-ImageFill:before {
  content: "\e2b4";
}
.icon-MicOffFill:before {
  content: "\e2b5";
}
.icon-Mic:before {
  content: "\e2b6";
}
.icon-MobilephoneFill:before {
  content: "\e2b7";
}
.icon-Mobilephone:before {
  content: "\e2b8";
}
.icon-PhoneFill:before {
  content: "\e2b9";
}
.icon-Palette:before {
  content: "\e2ba";
}
.icon-Monitor:before {
  content: "\e2bb";
}
.icon-Phone:before {
  content: "\e2bc";
}
.icon-ServiceFill:before {
  content: "\e2bd";
}
.icon-System:before {
  content: "\e2be";
}
.icon-SystemFill:before {
  content: "\e2bf";
}
.icon-Service:before {
  content: "\e2c0";
}
.icon-VolumeFill:before {
  content: "\e2c1";
}
.icon-Volume:before {
  content: "\e2c2";
}
.icon-CardFill:before {
  content: "\e2c3";
}
.icon-Payment:before {
  content: "\e2c4";
}
.icon-Card:before {
  content: "\e2c5";
}
.icon-Trade:before {
  content: "\e2c6";
}
.icon-WechatFill:before {
  content: "\e2c7";
}
.icon-Agriculture:before {
  content: "\e2c9";
}
.icon-ChemicalIndustry:before {
  content: "\e2ca";
}
.icon-AutoParts:before {
  content: "\e2cb";
}
.icon-BuildingMaterials:before {
  content: "\e2cc";
}
.icon-Clothing:before {
  content: "\e2cd";
}
.icon-Food:before {
  content: "\e2ce";
}
.icon-Dashboard:before {
  content: "\e2cf";
}
.icon-FastSellingFoods:before {
  content: "\e2d0";
}
.icon-Equipment:before {
  content: "\e2d1";
}
.icon-Manufacture:before {
  content: "\e2d2";
}
.icon-Industry:before {
  content: "\e2d3";
}
.icon-Medical:before {
  content: "\e2d4";
}
.icon-Fresh:before {
  content: "\e2d5";
}
.icon-Furniture:before {
  content: "\e2d6";
}
.icon-EnvironmentProtection:before {
  content: "\e2d7";
}
.icon-NewEnergy:before {
  content: "\e2d8";
}
.icon-Machining:before {
  content: "\e2d9";
}
.icon-TextileIndustry:before {
  content: "\e2da";
}
.icon-RawMaterials:before {
  content: "\e2db";
}
.icon-Steel:before {
  content: "\e2dc";
}
.icon-Transportation:before {
  content: "\e2dd";
}
.icon-Rubber:before {
  content: "\e2de";
}
.icon-Wholesale:before {
  content: "\e2df";
}
.icon-AlertCircle:before {
  content: "\e2e0";
}
.icon-Adopt:before {
  content: "\e2e1";
}
.icon-PlusFill:before {
  content: "\e2e2";
}
.icon-AlertFill:before {
  content: "\e2e3";
}
.icon-AlertTriangleFill:before {
  content: "\e2e4";
}
.icon-Award:before {
  content: "\e2e5";
}
.icon-AwardFill:before {
  content: "\e2e6";
}
.icon-AlertTriangle:before {
  content: "\e2e7";
}
.icon-BulbFill:before {
  content: "\e2e8";
}
.icon-CheckCircle:before {
  content: "\e2e9";
}
.icon-Lock:before {
  content: "\e2ea";
}
.icon-Bulb:before {
  content: "\e2eb";
}
.icon-Loading:before {
  content: "\e2ec";
}
.icon-CheckFill:before {
  content: "\e2ed";
}
.icon-ClockFill:before {
  content: "\e2ee";
}
.icon-CheckmarkFill:before {
  content: "\e2ef";
}
.icon-CloseCircle:before {
  content: "\e2f0";
}
.icon-Clock:before {
  content: "\e2f1";
}
.icon-CloseFill:before {
  content: "\e2f2";
}
.icon-HeartFill:before {
  content: "\e2f3";
}
.icon-LockFill:before {
  content: "\e2f4";
}
.icon-Moon:before {
  content: "\e2f5";
}
.icon-Heart:before {
  content: "\e2f6";
}
.icon-MinusCircleFill:before {
  content: "\e2f7";
}
.icon-InfoCircle:before {
  content: "\e2f8";
}
.icon-MoonFill:before {
  content: "\e2f9";
}
.icon-InfoFill:before {
  content: "\e2fa";
}
.icon-MinusCircle:before {
  content: "\e2fb";
}
.icon-Unlock:before {
  content: "\e2fc";
}
.icon-PauseFill:before {
  content: "\e2fd";
}
.icon-UnlockFill:before {
  content: "\e2fe";
}
.icon-QuestionCircle:before {
  content: "\e2ff";
}
.icon-PauseCircle:before {
  content: "\e300";
}
.icon-Pause:before {
  content: "\e301";
}
.icon-PlusCircle:before {
  content: "\e302";
}
.icon-PlayCircle:before {
  content: "\e303";
}
.icon-StarFill:before {
  content: "\e304";
}
.icon-QuestionFill:before {
  content: "\e305";
}
.icon-PlayFill:before {
  content: "\e306";
}
.icon-Star:before {
  content: "\e307";
}
.icon-SunFill:before {
  content: "\e308";
}
.icon-Sun:before {
  content: "\e309";
}
.icon-Sync:before {
  content: "\e30a";
}
.icon-DigitalProducts:before {
  content: "\e30b";
}
.icon-Track:before {
  content: "\e30c";
}
.icon-Rightrotation:before {
  content: "\e30d";
}
.icon-Leftrotation:before {
  content: "\e30e";
}
.icon-Task:before {
  content: "\e30f";
}
.icon-RejectFill:before {
  content: "\e311";
}
.icon-SignbackFill:before {
  content: "\e312";
}
.icon-Rhombus:before {
  content: "\e314";
}
.icon-Button:before {
  content: "\e315";
}
.icon-Packup:before {
  content: "\e316";
}
.icon-Selectall:before {
  content: "\e317";
}
.icon-Buttoncursor:before {
  content: "\e318";
}
.icon-ButtonFill:before {
  content: "\e319";
}
