.logistucs-main {
  .login-main {
    background: #fff;

    .login-warp {
      width: 1200px;
      margin: 0 auto;
      padding: 12px 0;
      height: 80px;

      img {
        height: 49px;
      }
    }
  }

  .search-number {
    font-size: 12px;
    font-weight: bold;
    color: #303133;
    padding: 0 3px;
  }

  .search-tips {
    color: #909399;
    line-height: 8px;
    font-size: 12px;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
  }

  .search-list-warp {
    width: 1200px;
    margin: 0 auto;

    .search-list-item {
      margin-bottom: 5px;
      position: relative;
    }
  }

  .pagination-warp {
    text-align: right;
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0 31px;
  }
}
