@import url('../../common.less');

.@{prefixCls}-marketingCard-collageContainer-item {
  width: 70.19px;
  box-sizing: border-box;
  padding: 8px;
  flex: none;

  img {
    width: 100%;
  }

  &.ative {
    padding: 0;
    border: 1px solid #ef3346;
    border-radius: 4px;
  }

  &-null {
    width: 20%;
    box-sizing: border-box;
    margin: 8px;
    height: 56px;
    border: 1px dashed #c8cacd;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
  }
}
