.platform_goods {
  position: relative;
  margin: -8px;

  .setting_title {
    margin-bottom: 24px;
    padding-left: 6px;
    color: #303133;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    border-left: 2px solid #00a98f;
  }

  .setting_line {
    display: flex;
    margin-bottom: 12px;
    background-color: #fff;

    &_main {
      position: relative;
      flex: 1;
    }

    &_addItem {
      flex: 1;
      margin-top: 16px;

      &_input {
        width: 100%;
      }

      &_line {
        display: flex;
        margin-bottom: 16px;

        &_label {
          width: 80px;
          color: #909399;
          font-size: 12px;

          &.height32 {
            display: flex;
            align-items: center;
            height: 32px;
          }
        }

        &_brief {
          flex: 1;
          width: 0;

          .select_line {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
          }
        }
      }
    }

    &_sort {
      width: 32px;
      height: 32px;
      margin-right: 8px;
      line-height: 32px;
      text-align: center;
      background-color: #fafbfc;
    }

    &_name {
      display: flex;
      flex: 1;
      align-items: center;
      height: 32px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: #fafbfc;

      & > .icon {
        // width: 32px;
        // height: 32px;
        // line-height: 32px;
        margin: 0 12px;
        cursor: pointer;
      }
    }

    &_operation {
      height: 32px;
      margin-left: auto;
      background-color: #fafbfc;

      &_btn {
        width: 16px;
        margin-left: 16px;

        &_icon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.color_picker {
  position: relative;
  top: 4px;
  width: 24px;
  height: 24px;
  background-color: #303133;

  .picker {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    padding-top: 32px;
    z-index: 9999;
  }

  &:hover {
    .picker {
      display: block;
    }
  }
}

.goods_item {
  display: flex;
  flex-wrap: nowrap;

  &_imgbox {
    width: 80px;
    height: 80px;
    overflow: hidden;

    & > img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .inquiry_price {
    display: inline-block;
    height: 18px;
    margin-top: 2px;
    padding: 2px 8px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    background-color: #d32f2f;
  }

  &_info {
    flex: 1;
    width: 0;
    margin-left: 12px;

    &_name {
      overflow: hidden;
      color: #303133;
      font-size: 12px;
      line-height: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &_price {
      margin-top: 8px;
      color: #d32f2f;
      font-size: 14px;
      line-height: 14px;

      & > i {
        margin-right: 4px;
        font-size: 12px;
        font-style: normal;
      }
    }

    &_brief {
      margin-top: 10px;
      color: #909399;
      font-size: 12px;
      line-height: 12px;
    }
  }
}

.mar_bot_0 {
  margin-bottom: 0;
}

.pagintion_wrap {
  margin-top: 24px;
  text-align: right;
}
