@import '@/styles/variables.scss';

.seckillItem {
  margin-bottom: $spacing-h-lg;
}

.progress {
  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12px * $hd;

    .progress-remain {
      font-size: 10px;
      color: $color-text-placeholder;
    }
  }

  &-extra {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: $spacing-h-md;
    color: $color-text-placeholder;
    font-size: $font-size-sm;

    &-highlight {
      color: $color-brand;
    }
  }
}

.seckillPrice {
  margin: 8px * $hd 0;
}

.seckillFooter {
  display: flex;
  flex-direction: row;
  align-items: center;

  .countDownContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $color-bg-light;
    width: 100%;
    padding-left: 12px * $hd;
    border-radius: 16px * $hd;

    .isOut {
      color: $color-text-placeholder;
      font-size: $font-size-sm;
      font-weight: 600;
    }

    .countDown {
      display: flex;
      flex-direction: row;
      align-items: center;

      .countDownTitle {
        color: $color-text-placeholder;
        font-size: $font-size-sm;
        font-weight: 600;
      }
    }
  }
}
