// science下的全局变量在此定义
// 企业商城科技模板
:global {
  .theme-mall-science {
    overflow-x: hidden;
    font-size: 14px;

    --mall-main-color: #00a98f;
    --mall-main-color-opacity-2: #daf2e7;
    --mall-sub-color: #daf2e7;
    --mall-main-nav-hover-color: #00a98f;
    --category-content-bg: #fff;
    --category-content-title-text: #303133;
    --category-content-title-text-hover: #00a98f;
    --category-content-sub-title-text: #606266;
  }

  .theme-ownmall-science {
    overflow-x: hidden;
    font-size: 14px;

    --mall-main-color: #00a98f;
    --mall-main-color-opacity-2: #daf2e7;
    --mall-sub-color: #daf2e7;
    --mall-main-nav-hover-color: #00a98f;
    --category-content-bg: #fff;
    --category-content-title-text: #303133;
    --category-content-title-text-hover: #00a98f;
    --category-content-sub-title-text: #606266;
  }

  // 店铺科技类模板颜色配置
  .theme-shop-science {
    font-size: 14px;
    overflow-x: hidden;

    --mall-main-color: #00a98f;
    --mall-sub-color: #daf2e7;
    --mall-main-nav-hover-color: #00a98f;
    --nav-active-bg: #00a98f;
    --category-content-bg: #00a98f;
    --category-content-title-text: #303133;
    --category-content-title-text-hover: #00a98f;
    --category-content-sub-title-text: #606266;
  }
}
