.file-list {
  display: flex;
  flex-direction: column;

  &-item {
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 0;

    &-filename {
      margin: 0 8px;
    }

    &-btn-del {
      color: #ef3346 !important;
      cursor: pointer;
    }
  }
}
