@import "@apps/mobile-ui/packages/styles/variables/default.scss";

$at-button-height: 40px;

$at-button-height-sm: 24px !default;

$theme-color: #00a98f;

/* The Color of O2Team Brand */
$color-brand: #00A98F;

/* Link */
$color-link: #00A98F;
