.common_detail_page {
  min-height: calc(100vh - 112px);

  .common_header {
    display: flex;
    min-height: 64px;
    align-items: center;
    background: #ffffff;
    justify-content: space-between;
    padding: 0 24px;

    .title {
      margin-left: 16px;
      font-size: 18px;
      color: #303133;
      font-weight: 500;
    }

    .back_btn {
      color: #909399;
      font-size: 14px;
      cursor: pointer;
      padding-top: 3px;

      & > span {
        font-size: 12px;
        margin-left: 6px;
      }
    }
  }

  .detail_page_contaner {
    margin: 16px;
    border-radius: 8px;
    background-color: #ffffff;
  }
}
