.tag {
  line-height: 22px;
  padding: 0 8px;
  font-size: 12px;
  font-weight: 400;
  color: #00A98F;
  background: #EBF7F2;
  border-radius: 4px;

  &__active {
    color: #4787F0;
    background: #ECF2FE;
  }

  &__success {
    color: #00A98F;
    background: #EBF7F2;
  }

  &__warning {
    color: #FF991F;
    background: #FFFAE6;
  }

  &__default {
    color: #606266;
    background: #F4F5F7;
  }

  &__danger {
    color: #E63F3B;
    background: #FFEBE6;
  }

  &__primary {
    color: #3F7ED2;
    background: #F0F8FF;
  }

  &__nobility {
    color: #6554C0;
    background: #EAE6FF;
  }
}
