.box {
  z-index: 99;
  .container {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    background: #ebf7f2;
    border: 1px solid #00a98f;
    margin: 8px 0 32px 0;
    width: 495px;
    cursor: pointer;
    position: relative;

    .btn {
      color: #00a98f;
      text-align: center;
    }
  }
}

.risk {
  display: flex;
  flex-direction: column;
  align-items: center;
}
