@import '@/styles/variables.scss';

.category-container {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  .nav-list {
    display: flex;
    padding: 0px;
    padding-top: 16px;
    padding-bottom: 12px;
    flex-wrap: wrap;
  }
  .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64px;
    overflow: hidden;
    margin-right: 16px;
    .nav-icon {
      width: 48px;
      height: 48px;
      border-radius: 48px;
      margin-bottom: 4px;
      border: 1px solid $theme-border-light;
    }
    .nav-text {
      font-size: 12px;
      line-height: 14px;
      width: 49px;
      text-align: center;
      color: $theme-title;
      margin-top: 4px;
      white-space: nowrap;
      overflow: hidden;
      word-break: break-all;
      text-overflow: clip;
    }
    .active {
      border-color: $theme-color;
    }
    .nav-text-active {
      color: $theme-color;
    }
  }
}
