// science下的全局变量在此定义
// 企业商城科技模板
:root {
  .theme-mall-science {
    --mall-main-color: #00a98f;
    --mall-main-color-opacity-2: #daf2e7;
    --mall-sub-color: #daf2e7;
    --mall-main-nav-hover-color: #00a98f;
    --category-content-bg: #fff;
    --category-content-title-text: #303133;
    --category-content-title-text-hover: #00a98f;
    --category-content-sub-title-text: #909399;
  }

  // 店铺科技类模板颜色配置
  .theme-shop-science {
    --mall-main-color: #00a98f;
    --mall-sub-color: #daf2e7;
    --mall-main-nav-hover-color: #00a98f;
    --nav-active-bg: rgb(0 0 0 / 8%);
    --category-content-bg: #fff;
    --category-content-title-text: #303133;
    --category-content-title-text-hover: #00a98f;
    --category-content-sub-title-text: #606266;
  }
}
