.modal {
  :global {
    .ant-picker {
      width: 100%;
    }

    .ant-radio-button-wrapper {
      margin-right: 16px;
      border-radius: 4px;
      border-left-width: 1px;
      &::before {
        width: 0;
      }
    }
  }
}
