.col {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  .col_20 {
    flex: 4 4 auto;
  }
  .col_icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #ffff;
    .col_icon_fontSize {
      font-size: 16px;
    }
  }
}
