@import '@/styles/variables.scss';

.classify-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: $color-bg-base;

  :global {
    .nav-bar {
      z-index: 1;
      background-color: $color-card-bg;
      box-shadow: 0 2px 8px $color-card-shadow;
    }

    .at-tabs__header,
    .at-tabs__body {
      background-color: $color-bg-base;
    }

    .at-tabs {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      background-color: $color-bg-base;

      .at-tabs-pane--active {
        height: 100%;
        overflow: scroll;
      }

      .at-tabs__body {
        flex: 1;
        overflow: hidden;
      }

      .at-tabs__item--active {
        .at-tabs__item-underline {
          transform: scaleX(0.2);
        }
      }
    }
  }
}
