@prefix: lingxi-business;
@header-nav-height: 64px;
@white: #fff;
.@{prefix}-margin_content {
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
}
.@{prefix}-logo {
	max-width: 100%;
	height: 48px;
}
