.purchaseInquiry {
  padding-bottom: 52px;
  background-color: #f7f8fa;

  .purchaseInquiry_container {
    display: flex;
    padding-top: 20px;
    width: 1200px;
    margin: 0 auto;

    .purchaseInquiry_main {
      flex: 1;
      margin-left: 16px;

      .search-warp {
        width: 100%;
        height: 80px;
        background: #fff;

        .search-top {
          height: 40px;
          display: flex;
          justify-content: space-between;
          padding: 0 4px 0 24px;
        }

        .search-message {
          color: #909399;
          margin-right: 33px;

          span {
            font-weight: bold;
            color: #303133;
          }
        }

        .search-top-left {
          display: flex;
          align-items: center;
          width: 165px;
          justify-content: space-between;
        }

        .search-top-right {
          display: flex;
          align-items: center;
        }

        .search-botton {
          height: 40px;
          display: flex;
          padding-left: 16px;
          align-items: center;
        }

        .search-tips {
          color: #303133;
          font-size: 12px;
          cursor: pointer;
        }

        .search-tips-reset {
          margin-left: 16px;
          padding-left: 16px;
          border-left: 1px solid #ccc;
        }
      }
    }
  }
}

.card-warp {
  width: 100%;

  .card-item {
    position: relative;
    margin-bottom: 8px;
  }
}

.pagination-warp {
  text-align: right;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 31px;
}
