.mellow {
  :global {
    .ant-card {
      border-radius: 8px;

      &-head {
        border-bottom: none;

        &-title {
          line-height: 24px;
          padding-bottom: 0;
          font-size: 14px;
          font-weight: 500;
          color: rgba(23, 43, 77, 1);
        }
      }

      &-body {
        padding: 16px;
      }
    }
  }
}
