@import '../common.less';
@import url('@linkseeks/ui/src/styles/theme/variables.less');

.contract {
  background-color: #ffffff;
  padding: 0 16px 16px 16px;
  margin-top: 16px;
  border-radius: 8px;
}

.checkbox_contract_text {
  &:hover {
    color: @color-primary;
  }
}

.errorText {
  color: #d32f2f;
  padding: 16px 0;
}
