.platform {
  position: relative;
}

.bannerContainer {
  position: relative;
  display: flex;
  padding-top: 16px;
  width: 1200px;
  margin: 0 auto;

  .bannerWrap {
    flex: 1;
    padding: 0 16px;

    .horizontal {
      display: flex;
      justify-content: space-between;
    }
  }
}
