.cell {
  display: flex;
  flex: 1;
  // h5 { margin-bottom: 2em; }
  h5 {
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 400;
  }
  .label {
    flex: 0 0 25%;
    color: #909399;
  }
  .content {
    flex: 0 0 70%;
  }
}
.cellWarp {
  flex: 1;
}
