.lingxi-advert {
  width: 100%;
  height: 70px;
  overflow: hidden;
  background-color: #fff;

  :global {
    .ant-carousel .slick-dots {
      opacity: 0;
    }
  }

  .topAdvert_list {
    height: 70px;

    &_item {
      height: 70px;
      overflow: hidden;

      & > span {
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: block;

        & > img {
          height: 100%;
          width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

.lingxi-purchase {
  width: 340px;
  height: 100px;
}

.lingxi-banner {
  position: relative;
  height: 292px;
  width: 520px;

  .banner_list {
    .banner_list_item {
      height: 292px;
      width: 520px;

      &_img {
        height: 292px;
      }
    }
  }

  .banner_prev {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 112px;
    left: 1px;
    background: rgb(0 0 0 / 24%);
    border-radius: 0 100px 100px 0;
    color: rgb(255 255 255 / 60%);
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
  }

  .banner_next {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 112px;
    right: 1px;
    background: rgb(0 0 0 / 24%);
    border-radius: 100px 0 0 100px;
    color: rgb(255 255 255 / 60%);
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
  }

  :global {
    .ant-carousel .slick-slide {
      text-align: center;
      height: 336px;
      overflow: hidden;
    }

    .ant-carousel .slick-slide h3 {
      color: #fff;
    }
  }

  .banner_null {
    width: 520px;
    height: 292px;
    line-height: 292px;
    background: #f2f2f2;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    color: #d9d9d9;
    text-align: center;
  }
}

.lingxi-interact_list {
  display: flex;
  // width: 1200px;
  margin: 16px auto;
  margin-bottom: 0;
  justify-content: space-between;

  .interact_list_item {
    width: 320px;
    height: 160px;
    overflow: hidden;

    &:first-child {
      margin-right: 16px;
    }

    & > a {
      outline: none;
      text-decoration: none;

      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.lingxi-service_list {
  display: flex;
  width: 1200px;
  margin: 20px auto;
  margin-bottom: 0;
  height: 90px;

  .service_list_item {
    width: 592px;
    height: 90px;
    overflow: hidden;

    &:not(:last-child) {
      margin-right: 15px;
    }

    & > span {
      outline: none;
      text-decoration: none;

      & > img {
        width: 100%;
        height: auto;
      }
    }
  }

  .service_list_item_null {
    width: 592px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #d9d9d9;
    color: #b3b3b3;
    background-color: #edeeef;
  }
}

.lingxi-nav_banner {
  position: relative;
  height: 96px;

  .nav_banner_item {
    height: 96px;
    overflow: hidden;
  }
}

.lingxi-banner-right {
  width: 200px;
  height: 292px;
}

.lingxi-banner-right-null {
  width: 200px;
  height: 292px;
  line-height: 292px;
  background: #f2f2f2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #d9d9d9;
  text-align: center;
}

.lingxi-banner-bottom {
  width: 736px;
  height: 204px;
  margin-top: 16px;
}

.lingxi-banner-bottom-null {
  width: 252px;
  height: 204px;
  line-height: 204px;
  background: #f2f2f2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #d9d9d9;
  text-align: center;
}

.lingxi-floor_banner {
  display: flex;
  width: 1200px;
  margin: 16px auto;
  margin-bottom: 0;
  height: 90px;

  .floor_banner_item {
    width: 1200px;
    height: 90px;
    overflow: hidden;

    &:not(:last-child) {
      margin-right: 16px;
    }

    & > span {
      outline: none;
      text-decoration: none;

      & > img {
        width: 100%;
        height: auto;
      }
    }
  }
}
