.customList {
  :global {
    .ant-list-item-meta {
      align-items: center;
    }
  }
  .messageText {
    font-size: 14px;
    font-weight: 400;
    // color: #606266;
    cursor: pointer;
  }
  .messageTitle {
    margin: 0px 0px 0px 30px;
    font-size: 14px;
    font-weight: 500;
    // color: #303133;
    display: inline-block;
    cursor: pointer;
  }

  .time {
    margin-left: 20px;
  }

  .section {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
