.user-system {
  .ant-input-group-addon {
    padding: 0;
    border: none;
  }
}

.save-icon {
  display: flex;
  align-items: center;

  :global {
    .anticon {
      width: 16px;
      height: 16px;
    }
  }
}

.form-tag-list {
  display: flex;
  flex-wrap: wrap;

  &-item {
    margin-bottom: 16px;
  }
}
.form-list {
  display: flex;
  flex-direction: column;

  &-item {
    display: flex;
    margin-bottom: 8px;
    gap: 8px;

    :global {
      .ant-form-item {
        flex: 1;
      }
    }
  }
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #edeeef;
  border-radius: 4px;
  background-color: #f5f6f7;

  :global {
    .anticon {
      width: 16px;
      height: 16px;
    }
  }
}
