.cardWrap {
  :global {
    .ant-radio-button-wrapper:hover {
      color: #606266;
    }
    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      color: #fff;
      background: #6B778C;
      border-color: #6B778C;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
      background-color: #6B778C;
    }
  }
}
