@import "@/styles/variables.scss";
@import "../../../../styles/common.scss";
.materialList {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  &-scrollView {
    flex: 1;
    height: 100%;
    overflow: scroll;
    background-color: #f5f6f7;
    position: relative;
  }
  &-flatList {
    width: 100%;
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: #f5f6f7;
    padding-bottom: 56px;
  }
  &-fixButton {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 8px;
    width: 100%;
    background-color: #fff;
    &-btn {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 40px;
      background-color: $theme-color;
      border-radius: 8px;
      &-text {
        margin-left: 8px;
        font-size: 14px;
        color: #ffffff;
      }
    }
  }
}

.materialItem {
  background-color: #fff;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 12px;
  &-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding-bottom: 12px;
    border-bottom: 1px solid #f5f6f7;
    &-image {
      height: 40px;
      width: 40px;
      margin-right: 8px;
      border-radius: 8px;
    }
    &-info {
      flex: 1;
      flex-direction: column;
      margin-right: 12px;
      &-title {
        flex: 1;
        font-size: 14px;
        color: #252d37;
        display: block;
        @include text-overflow();
      }
      &-text {
        flex: 1;
        font-size: 12px;
        color: #91959b;
        display: block;
        @include text-overflow();
      }
    }
  }
  &-tips {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &-text {
      flex: 1;
      font-size: 14px;
      color: $color-grey-0;
    }
    &-operation {
      display: flex;
      flex-direction: row;
      &-text {
        color: #91959b;
        font-size: 12px;
      }
    }
  }
  &-box {
    padding: 12px;
    background-color: #f5f6f7;
    border-radius: 8px;
    &-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;
      overflow: hidden;
      &-label {
        width: 92px;
        font-size: 12px;
        color: #91959b;
      }
      &-text {
        flex: 1;
        font-size: 12px;
        color: #252d37;
        @include text-overflow();
      }
    }
  }
  &-labels {
    color: #252d37;
    font-size: 14px;
  }
  :global {
    .at-input {
      padding: 0px 0px;

      .at-input__input {
        font-size: 14px;
        text-align: right;
        input {
          font-size: 14px;
          text-align: right;
          &::placeholder{
            color: #c8cacd;
          }
        }
      }

      &::after {
        border-bottom: none;
      }
    }
  }
}

.add_btn {
  margin: 0 auto;
  width: 359px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  color: #00A98F;
  margin-top: 8px;
  :global {
    .icon {
      margin-right: 8px;
    }
  }
}
