.cancel {
  margin: 0 4px;
  color: #909399;
  font-size: 12px;
  cursor: pointer;
}
.confirm {
  color: #00a98f;
  font-size: 12px;
  cursor: pointer;
}

.actionList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;

  :global(.ant-btn-link) {
    height: 26px;
    padding: 0;
    line-height: 26px;
    white-space: nowrap;
  }
}
