.card {
  margin-bottom: 16px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    .title {
      font-size: 12px;
      color: #91959B;
    }

    .icon {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  :global {
    .ant-form-item {
      margin-bottom: 16px;
    }
  }
}
