@import "@/styles/variables.scss";
@import "../../../../styles/common.scss";
.product-box {
  padding: 12px;
  border-bottom: 1px solid #f4f5f7;




  .title {
    font-size: 12px;
    color: #303133;
    line-height: 12px;
    margin-bottom: 8px;
  }

  .item{
    width: 100%;
   display: flex;
   justify-content: space-between;
   font-size: 12px;
   line-height: 20px;

   .label{
    color: #5C626A;
   }

   .text{
    display: inline-block;
    color: #303133;
   }

  }
}
